/* Items-Tabbed Theme : category template CSS file */

.flexi.lineinfo {
	display: block;
	margin: 0 0 1em;
	overflow: hidden;
	clear: both;
}

.flexi.subtitle1 {
}
.flexi.subtitle2 {
}
.flexi.subtitle3 {
}

.tabbertab .flexi.element,
.subtitle1 .flexi.element,
.subtitle2 .flexi.element,
.subtitle3 .flexi.element {
	display: block;
	float: left;
	max-width: 100% !important;  /* Allow responsive width while floating */
	padding: 0% !important;  /* Allow responsive width while floating */
	margin: 0px 24px 12px 0px;
}


/* topblock: Field block styling */
.flexi.topblock {
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
}
.topblock .flexi.image {
	display: block;
	float: left;
	max-width: 100% !important;  /* Allow responsive width while floating */
	padding: 0% !important;  /* Allow responsive width while floating */
	margin-right: 6px;
	line-height: 0px;
	border: 0px solid silver;
}
.topblock .flexi.image a {
	outline: none;
}
.topblock .flexi.image img {
	border: 1px solid white;
}
.topblock .flexi.infoblock {
	overflow: hidden;
}


/* infoblock: Field block styling */
.flexi.infoblock {
	border: 1px solid silver;
	margin: 0 0 10px;
	padding: 10px;
}
.infoblock ul.flexi {
	margin: 0 !important;
	padding: 0 !important;
}
.infoblock ul li.flexi {
	padding: 0;
	background: none;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 0%;
	zoom: 1;
	*display: inline;
	_height: 10px;
}


/* Field label & values styling */
span.flexi.label, .flexi.label {
	display: block;
	float: left;
	border-bottom: 1px solid silver;
	color: #777;
	font-size: 90%;
	margin-right: 8px;
}
span.flexi.value, .flexi.value {
	display: block;
	float: left;
	max-width: 100% !important;  /* Allow responsive width while floating */
	padding: 0% !important;  /* Allow responsive width while floating */
}


/* Field values into 1 column */
.onecols ul li.flexi {
	width: 100%;
}
.onecols .flexi.label {
	min-width: 20%;
	margin-right: 4%;
	margin-bottom:6px;
}
.onecols .flexi.value {
	min-width: 74%;
	margin-right: 1%;
}


/* Field values into 2 columns */
.twocols ul li.flexi {
	min-width: 48%;
}
.twocols .flexi.label {
	min-width: 34%;
	margin-right: 6%;
	margin-bottom:6px;
}
.twocols .flexi.value {
	min-width: 58%;
	margin-right: 1%;
}

.fc_item_seperator {
	clear:both;
	margin-bottom: 24px;
	width:100%;
}

/* =============================================
   Bootstrap adjustments
============================================= */
#fc_alpha .btn.fc_alpha_index,
#fc_alpha .btn.fc_alpha_index_sep {
	margin-top:0;
	margin-bottom:0;
}

/* ===============================================
   "micro" clearfix 
   http://nicolasgallagher.com/micro-clearfix-hack/
   =============================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.group:before,
.group:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.group:after {
	clear: both;
}

/**
 * Include this rule to trigger hasLayout and contain floats.
 */
.group {
	/* for IE 6/7 */
	*zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
	/* non-JS fallback */
	*zoom: 1;
}
