#flexicontent div.floattext {	
	background:#FFFFFF;
	border:1px solid #cccccc;
	border-radius: 10px 10px 10px 10px;
	width:100%;
	margin:10px 0px 25px 0px;
}
div.floattext div.catdescription {	
	padding:10px;
}

#flexicontent div.subcategorieslist {	
	text-align:center;
}

div.lineinfo {
	display: block;
	margin: 0 0 0.5em;
	overflow: hidden;
	text-align: center;
}
.information {
	list-style-type: circle;
	padding-left: 15px;
	background: #FFFFFF;
	height: 75px;
	margin-top: 5px;
	border-radius: 0px 0px 10px 10px;
}
div.annonce {
	overflow: hidden;
	float: left;
	margin: 0 10px 15px;
	padding: 9px;
	background: #CCCCCC;
	min-height: 237px;
	/*width: 185px;*/
	border-radius: 10px 10px 10px 10px;
}

div.annonce .lineinfo {
	width:171px;
	height:126px;
	position:relative;
}

div.annonce .lineinfo a {
	width:171px;
	height:126px;
	margin:0 auto;
}
div.annonce .lineinfo span.element {
	display:block;
}
div.annonce .lineinfo span.element span.field_image_principale {
	display:block;
}
div.annonce .lineinfo span.element span.field_image_principale a.mb{
	display:block;
}
 
div.annonce .lineinfo img {
	margin:0 auto;
	display:block;

}

#whitebox div div.pageslinks  {
	text-align:center;
}
