/* Blog Theme : category template CSS file */

#flexicontent .clear { 
	border: 0; clear: both; 
	float: none; 
	font-size: 1px; 
	height: 0; 
	line-height: 1px; 
	margin: 0; 
	padding: 0; 
	visibility: hidden;
}

#flexicontent .floattext:after { /* ie fix in conditional comments (html source) */
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#flexicontent .floattext { 
	display:block; /* safari */
}

/**
 * @section buttons
 *
 * print, pdf, ...
 */
#flexicontent .buttons { 
	float: right;
}

#flexicontent .buttons img { 
 border: none; 
}

#flexicontent .buttons a { 
	padding: 0 0 0 5px; 
	height: 16px; 
	line-height: 16px; 
}


/**
 * @section headlines
 *
 */
#flexicontent h2 {
}

#flexicontent h2 img {
border: none;
}


/**
 * @section Categoryview
 *
 */
#flexicontent .catimg {
margin: 0 0.5em 0.5em 0;
float: left;
position: relative;
}

#flexicontent .catimg p {
font-size: 0.9em; line-height: 180%;
margin: 0 0 0.5em 0;
}

#flexicontent .catdescription {
margin: 0 0 0.5em 0;
}

#flexicontent .subcategories {
/* font-size: 1.2em; font-weight: bold; */
border-bottom: 2px solid #ddd;
padding:0.5em 0.3em; margin: 0.8em 0;
}

/**
 * @section FLEXIcontent Item
 *
 */
#flexicontent .taglist {
margin: 5px 0 10px; padding: 0 5px;
}


/**
 * @section flexicontent Table Filter Form
 *
 */
div.subcategorieslist {
margin: 0 0 1em 0;
}

#flexicontent #fc_filter {
margin: 0 0 1em 0; padding: 0.5em;
border: solid 1px #ddd;
}

#flexicontent .fc_fleft {
float: left;
}

#flexicontent .fc_fright {
float: right;
}
#flexicontent .fc_fright .filter {
margin-left: 10px;
}


/**
 * Comments for JComments only ;-)
 */
div.comments {
	margin-top: 15px;
}
.comments #jc h4 {
	font-weight: normal;
	color: inherit;
	margin-top: 0px;
}
.comments #comments a {
	color: inherit;
}
.comments #comments a:hover {
	color: #578E13;
}
.comments #comments div.comments-list {
	margin-left: 0;
}
.comments .rbox_tr,
.comments .rbox_tl,
.comments .rbox_t,
.comments .rbox_br,
.comments .rbox_bl,
.comments .rbox_b,
.comments .rbox_m {
	background: none;
	border: none;
}

.comments .rbox {
	border: 1px #ccc solid;
}
.comments .even .rbox {
	background: #fff;
}
.comments .odd .rbox {
	background: #f0f0f0;
}
.comments #comments-list-footer {
	margin: 0 0 10px 0;
}
#comments-form p, #comments-form #comments-form-buttons, #comments-form #comments-form-error {
	margin-left: 0px !important;
}
#comments-form #comments-form-message, #comments-inline-edit #comments-form-message {padding: 5px 5px 5px 25px;display: block;}
.comments-form-message-error {background: #FFD86F url(../images/error.png) no-repeat 4px 50%;}
.comments-form-message-info {background: #DFEEFF url(../images/information.png) no-repeat 4px 50%;}

/**
 * blog block
 */
#flexicontent ul.leadingblock,
#flexicontent ul.introblock {
	margin: 0;
	padding: 0;
}
#flexicontent ul.leadingblock > li {
	margin: 0px 0px 12px 0px;
	padding: 12px 0px 0px 0px;
	border-top: 1px dashed darkgray;
	background: none;
	width: 100%;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	_height: 10px;
	line-height: inherit;
}
#flexicontent ul.introblock > li {
	margin: 0px 0px 12px 0px;
	padding: 12px 0px 0px 0px;
	border-top: 1px dashed darkgray;
	background: none;
	width: 100%;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	_height: 10px;
	line-height: inherit;
}
#flexicontent ul.introblock.two > li {
	width: 48%;
}
#flexicontent ul.introblock.two > li.fceven {
	margin-left: 3%
}
#flexicontent ul.introblock.three > li {
   width: 30%;
}
#flexicontent ul.introblock.three > li.fceven {
   margin-left: 1%
}
#flexicontent ul.introblock.four > li {
   width: 23%;
}
#flexicontent ul.introblock.four > li.fceven {
   margin-left: 1%
}

#flexicontent figure.image.right, 
#flexicontent div.image.right {
	float: right !important;
	margin: 8px 2px 0px 10px !important;
	width:auto !important;
}

#flexicontent figure.image.left,
#flexicontent div.image.left {
	float: left !important;
	margin: 8px 10px 0px 2px !important;
	width:auto !important;
}

#flexicontent figure.image.right img, 
#flexicontent figure.image.left img, 
#flexicontent div.image.right img,
#flexicontent div.image.left img {
	padding: 1px;
	border: 1px solid lightgray;
}

/* lines */
#flexicontent .lineinfo {
	display: block;
	float:left;
	clear:both;
	margin: 0 0 0.5em 0;
	*width: 100%; /* IE6/IE7 */
}
#flexicontent .lineinfo {
	vertical-align: middle;
}
#flexicontent .lineinfo .element {
	display: block;
	float: left;
	margin-right: 10px;
}
#flexicontent .lineinfo .element .label {
	border-bottom: 1px dashed silver;
	color: #555555;
	font-size: 90%;
	margin-right: 8px;
}
#flexicontent .lineinfo .element,
#flexicontent .lineinfo .element .label,
#flexicontent .lineinfo .element .value {
	display: block;
	float: left;
}

#flexicontent .readmore {
	display: inline-block;
	float:left;
	clear:both;
}

/* =============================================
   Bootstrap adjustments
============================================= */
#fc_alpha .btn.fc_alpha_index,
#fc_alpha .btn.fc_alpha_index_sep {
	margin-top:0;
	margin-bottom:0;
}

/* ===============================================
   "micro" clearfix 
   http://nicolasgallagher.com/micro-clearfix-hack/
   =============================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.group:before,
.group:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.group:after {
	clear: both;
}

/**
 * Include this rule to trigger hasLayout and contain floats.
 */
.group {
	/* for IE 6/7 */
	*zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
	/* non-JS fallback */
	*zoom: 1;
}
