/* FLEXIcontent article toolbar default CSS */


/* Global colors setting */
.flexitoolbar,
.flexitoolbar a,
.flexitoolbar a:link,
.flexitoolbar a:visited,
.flexitoolbar a:hover {
	color: #777;
}

.flexitoolbar {
	display: block;
	height: 34px;
	background: url(bg.png) 0 0 repeat-x;
	padding: 0 5px;
}

.flexi-legend, .flexi-legend a {
	font-size: 12px;
	text-decoration: none;
	outline: none;
}

.toolbar-element {
	float: left;
	line-height: 34px;
}
.toolbar-spacer {
	float: left;
	background: url(spacer.png) 50% 50% no-repeat;
	height: 34px;
}

/* Comments */
.comments-bubble {
	display: block;
	height: 34px;
	width: 27px;
	background: url(bubble.png) 0 8px no-repeat;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}
.comments-legend {
	padding-left: 8px;
}

/* Email */
.flexi-email {
	background: url(email.png) 0 8px no-repeat;
	padding-left: 26px;
}

/* Print */
.flexi-print {
	background: url(print.png) 0 8px no-repeat;
	padding-left: 26px;
}

/* Voice */
.flexi-voice {
	background: url(sound.png) 0 8px no-repeat;
	padding-left: 26px;
}

/* PDF */
.flexi-pdf {
	background: url(pdf.png) 0 8px no-repeat;
	padding-left: 26px;
}

/* Share */
.flexi-socials {
	padding-top: 9px;
}
/* Share */
.flexi-socials-outside {
	clear: both;
	padding-top: 9px;
	display:block;
}

.addthis_toolbox {font-size: 12px;}
.addthis_toolbox a {font-size: 12px; text-decoration: none; color: #00568F;}
.addthis_toolbox .addthis_button_compact {line-height: 18px;}
#at16pf a {display: none;}
#at16pt h4 {background-image: none;}

/* Text resizer */
.flexi-resizer a {
	display: block;
	height: inherit;
	width: 16px;
	text-indent: -10000px;
	outline: none;
	float: left;
	margin-left: 2px;
}
.flexi-resizer span {
	padding-left: 8px;
}
.flexi-resizer a.increase {
	background: transparent url(resizer_buttons.png) right 50% no-repeat;
}
.flexi-resizer a.decrease {
	background: transparent url(resizer_buttons.png) left 50% no-repeat;
}