@import url('../../../../../components/com_flexicontent/assets/css/flexi_form.css');
@import url('../../../../../components/com_flexicontent/assets/css/flexi_containers.css');
@import url('../../../../../components/com_flexicontent/assets/css/tabber.css');
@import url('../../../../../components/com_flexicontent/assets/css/flexi_shared.css');

.fc_nice_box {
	border-radius: 6px;
	margin: 0px 0px 8px 0px;
	padding: 0px 1%;
	float: none;
	clear: both !important;
	border: 1px solid lightgray;
	display: inline-block;
	background-color: lightyellow;
	font-weight: bold;
}

.flexicontent #adminForm a.saveorder {
	float: none !important;
	vertical-align: middle !important;
	display: inline-block !important;
	margin-left: 12px;
}

.flexicontent #adminForm .fc_drag_handle_none,
.flexicontent #adminForm .fc_drag_handle {
	float: none !important;
	display: inline-block !important;
	vertical-align: middle !important;
}

.flexicontent #adminForm table.adminlist {
	width: auto !important;
}

html body#minwidth-body {
	min-width: 760px;
}