
/**************
 * Header icons
 **************/

.icon-48-flexicontent	{ background-image: url(../images/icon-48-dashboard.png); }
.icon-48-items				{ background-image: url(../images/icon-48-items.png); }
.icon-48-itemadd			{ background-image: url(../images/icon-48-item-add.png); }
.icon-48-itemedit			{ background-image: url(../images/icon-48-item-edit.png); }
.icon-48-types				{ background-image: url(../images/icon-48-types.png); }
.icon-48-typeadd			{ background-image: url(../images/icon-48-type-add.png); }
.icon-48-typeedit			{ background-image: url(../images/icon-48-type-edit.png); }
.icon-48-fields				{ background-image: url(../images/icon-48-fields.png); }
.icon-48-fieldadd			{ background-image: url(../images/icon-48-field-add.png); }
.icon-48-fieldedit		{ background-image: url(../images/icon-48-field-edit.png); }
.icon-48-tags					{ background-image: url(../images/icon-48-tags.png); }
.icon-48-tagadd				{ background-image: url(../images/icon-48-tag-add.png); }
.icon-48-tagedit			{ background-image: url(../images/icon-48-tag-edit.png); }
.icon-48-fc_categories		{ background-image: url(../images/icon-48-categories.png); }
.icon-48-fc_categoryadd		{ background-image: url(../images/icon-48-category-add.png); }
.icon-48-fc_categoryedit	{ background-image: url(../images/icon-48-category-edit.png); }
.icon-48-archive			{ background-image: url(../images/icon-48-archive.png); }
.icon-48-editacl			{ background-image: url(../images/icon-48-permissions.png); }
.icon-48-files				{ background-image: url(../images/icon-48-files.png); }
.icon-48-fileedit			{ background-image: url(../images/icon-48-file-edit.png); }
.icon-48-stats				{ background-image: url(../images/icon-48-statistics.png); }
.icon-48-templates		{ background-image: url(../images/icon-48-templates.png); }
.icon-48-authors			{ background-image: url(../images/icon-48-authors.png); }
.icon-48-authoradd		{ background-image: url(../images/icon-48-author-add.png); }
.icon-48-authoredit		{ background-image: url(../images/icon-48-author-edit.png); }
.icon-48-import				{ background-image: url(../images/icon-48-import.png); }
.icon-48-searchindex	{ background-image: url(../images/icon-48-searchindex.png); }



/***************
 * Toolbar icons
 ***************/

.icon-32-person2			{ background-image: url(../images/icon-32-person2_f2.png); }
.icon-32-savenew			{ background-image: url(../images/icon-32-savenew.png); }
.icon-32-translate		{ background-image: url(../images/icon-32-country-flags.png); }
.icon-32-go						{ background-image: url(../../../../images/go_f2.png); }
.icon-32-download			{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-export.png); }
.icon-32-language			{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-html.png); }
.icon-32-params				{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-copy.png); }
.icon-32-import				{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-upload.png); }
.icon-32-duplicate		{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-copy.png); }
.icon-32-preview			{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-preview.png); }
.icon-32-basicindex		{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-refresh.png); }
.icon-32-advindex			{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-refresh.png); }
.icon-32-advindexdirty	{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-refresh.png); }
.icon-32-advindexpurge	{ background-image: url(../../../../templates/khepri/images/toolbar/icon-32-purge.png); }



/**************
 * Small labels
 **************/

.label, .badge, .flexicontent label.label {
	background-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	padding: 2px 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
	border-radius: 4px;
	margin: 0px 2px 2px 4px !important;
}
.label.highlight, .badge.highlight {
	color: darkred;
}



/***********************
 * pane TABS and sliders
 ***********************/

.pane-sliders .panel {
	border: 1px solid #CCCCCC;
	margin-bottom: 3px;
}
.pane-sliders .panel h3 {
	background: none repeat scroll 0 0 #FAFAFA;
	color: #666666;
}
.pane-sliders .title {
	color: #666666;
	cursor: pointer;
	margin: 0;
	padding: 2px 2px 2px 5px;
}
.pane-sliders .content {
	background-color: white !important;
}