#imageflow {
	width: 500px;
	max-width: 800px;
	min-height:100%;
	text-align: left;
	margin: 0 auto;
	position: relative;
	border: 0px double white;
	background-color: white;
	padding: 0px 20px;
}
#imageflow div#imageflow_images img {
	position:absolute;
	top:0px;
	border:none;
}
#imageflow div#imageflow_images {
	visibility:hidden;
}
#imageflow div#imageflow_loading{
	margin-top:164px;
	margin-bottom:200px;
	text-align:center;
	color: black;
	width:100%;
}
#imageflow div#imageflow_loading img{
	margin-top:10px;
	position:relative;
}
#imageflow div#imageflow_captions{
	font-weight:bold;
	position:relative;
	text-align:center;
	font-size:13pt;
	color: #666666;
}
#imageflow div#imageflow_scrollbar{
	visibility:hidden;
	position:relative;
	border-bottom: 1px solid black;
}
#imageflow div#imageflow_slider {
	position:absolute;
	margin-top:-7px;
	margin-left:-7px;
	background-image:url(slider.png);
	background-repeat:no-repeat;
	width:14px;
	height:14px;
}
