.thumbleft {
    float: left;
    margin: 5px 20px 20px 0;
    padding: 5px;
    border: 1px solid #ccc;
}

.thumbright {
    float: right;
    margin: 5px 0 20px 20px;
    padding: 5px;
    border: 1px solid #ccc;
}

.content {overflow: hidden;}