/* pink */
body {
	background: #4e2a35;	
}

#page_bg {	
	background: url(../images/pink/fond_2.jpg) repeat top center #4e2a35;
}


#page_fond{
	background: url(../images/pink/fond_dessins.jpg) repeat-y top left;
	width:auto;
	height: 100%;
	margin: 0 auto;
}

div#wrapper {
	/*background: #f7f7f7 url(../images/pink/mw_shadow_l.png) 0 0 repeat-y;*/
}

div#wrapper_r {
	/*background: url(../images/pink/mw_shadow_r.png) 100% 0 repeat-y;*/
}

div#header {
	/*background: url(../images/pink/mw_header_t.png) 0 0 repeat-x;*//* pour le bord  haut*/
	background: #996565;
	border-radius: 10px 10px 0 0px;
}

div#header_l {
	/*background: url(../images/pink/mw_header_t_l.png) 0 0 no-repeat;*//* pour le bord arrondi gauche*/
	/*background: #996565;*/
}

div#header_r {
	/*background: url(../images/pink/mw_header_t_r.png) 100% 0 no-repeat;*//* pour le bord arrondi droite*/
	/*background: #996565;*/
}

div#footer {
	/*background: #f7f7f7 url(../images/pink/mw_footer_b.png) 0 100% repeat-x;*/
	border-radius: 0px 0px 20px 20px;
	color: #af0731;
	font-weight: bold;
	position:relative;
}

div#footer_l {
	/*background: url(../images/pink/mw_footer_b_l.png) 0 0 no-repeat;*/
	background: url(../images/pink/mw_footer_b_l2.png) center bottom no-repeat #E7E6D4;
	border-radius: 0px 0px 20px 20px;
}

div#footer_r {
	/*background: url(../images/pink/mw_footer_b_r.png) 100% 0 no-repeat;*/	
	border-radius: 0px 0px 20px 20px;
	padding: 30px 10px 0px 10px;
	height: 66px;
}

#footer_deco {
	position:absolute;
	top:-82px;
	left:-60px;
	width:158px;
	height:179px;
	background:url(../images/pink/chat-footer.png) 0 0 no-repeat transparent;
}