.mod_flexifilter_wrapper .fc_field_filter {}

.mod_flexifilter_wrapper .fcbutton_go,
.mod_flexifilter_wrapper .fcbutton_reset {}

.mod_flexifilter_wrapper .fcbutton_go {}
.mod_flexifilter_wrapper .fcbutton_reset {}

.mod_flexifilter_wrapper button {}

.mod_flexifilter_wrapper button:hover {}

.mod_flexifilter_wrapper .fc_cid_label,
.mod_flexifilter_wrapper .fc_filter_label,
.mod_flexifilter_wrapper .fc_limit_label,
.mod_flexifilter_wrapper .fc_orderby_label {}

.mod_flexifilter_wrapper .fc_cid_clear,
.mod_flexifilter_wrapper .fc_filter_clear,
.mod_flexifilter_wrapper .fc_limit_clear,
.mod_flexifilter_wrapper .fc_orderby_clear {
	display:block;
	float:none;
	clear:both;
}

.mod_flexifilter_wrapper .cid_loading {
	color:darkred;
	font-weight:bold;
}

.mod_flexifilter_wrapper .fc_filter_set {
	border-width: 0px; 
}

.mod_flexifilter_wrapper .fc_filter_box {}