/* *******************************************************************
   modernblue css, by Stephan Slabihoud
   ******************************************************************* */

#uddeim {
	color: #000000;
/*	font-family : sans-serif;
	font-family: Arial, Helv, Helvetica, "MS Sans Serif", "Sans Serif";	*/
	padding: 0px 0px 8px 0px;
	background: none;
}
#uddeim img, #uddeim a img {
	border: none;
}
#uddeim a {
	color: #006699;	
	text-decoration: underline;
}
#uddeim a:hover {
	color: #006699;

}




/* Topborder */
#uddeim-bottomborder {
}




/* Contentheading, headline */

#uddeim div.contentheading {
	padding: 10px;
	border: none;
}




/* Navigation */

#uddeim-navbar2 {
	height:23px;
	line-height:23px;
	margin: 0;
	padding:0;	
}

#uddeim-navbar2 ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding: 0px !important;
	margin: 0 0 0 2px !important;
}
#uddeim-navbar2 ul li {
	padding:7px 1px 4px 0;
	display: inline;
	font-weight: bold;
	background: transparent url(menubg.png) no-repeat scroll right 0px;
	color:#ffffff;
	font-size: 12px;
}
#uddeim-navbar2 li a {
	background:transparent url(menubg.png) no-repeat scroll left 0px;
	text-decoration: none;
	color:#ffffff;
	margin-left:-2px;
	padding: 7px 6px 4px 6px;
}
#uddeim-navbar2 ul li img {
	margin-right: 3px;
	margin-bottom: -4px;
	top: 2px;
}#uddeim-navbar2 ul li:hover, 
#uddeim-navbar2 ul li.uddeim-activemenu {
	padding:7px 1px 4px 0;
	display: inline;
	font-weight: bold;
	background: transparent url(menubg.png) no-repeat scroll right -35px;
	color:#ffffff;
	font-size: 12px;
}
#uddeim-navbar2 li a:hover,
#uddeim-navbar2 li.uddeim-activemenu span {
	background:transparent url(menubg.png) no-repeat scroll left -35px;
	text-decoration: none;
	color:#ffffff;
	margin-left:-2px;
	padding: 7px 6px 4px 6px;
}
/* Everything BETWEEN navigation and bottomborder is wrapped by uddeim-m */

#uddeim-m {
    background-color: #FFFFFF;
    /*border-top: 3px solid #5182A4;*/
    border-top: 3px solid #571D2F;
    margin: 0;
    padding: 0;
}


/* Toplines * (within uddeim-m) */

#uddeim-toplines {
	font-size: 11px;
	padding: 8px;
}
#uddeim-toplines p {
	font-size: 11px;
	color: #000000;
}





/* Overview: Lists (inbox, outbox, trash, archive) */

#uddeim-overview {
	padding: 0;
	/* width: 100%; */
}
#uddeim-overview table {
	border-collapse:separate;
	border-color:#BFC3C6;
	border-spacing:0;
	border-style:solid;
	border-width:0 1px 0px 1px;
	clear:both;
}
#uddeim-overview td {
	border-bottom:1px solid #FFFFFF;
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #D6D6D6;
	border-left:1px solid #FFFFFF;
	background: transparent;
	border-collapse: collapse;
	border-spacing: none;
	padding: 0;
	margin: 0;
}
#uddeim-overview .sectiontableheader {
	background:#C0D0E3 url(categorybg.png) repeat-x scroll left -101px;
	border-left:1px solid #C0D0E3;
	border-right:1px solid #7398B9;
	border-top:0 none;
	margin:-1px 0 0;
	padding:0 4px;
	color: #000000;
	height: 20px;
	line-height: 20px;
	text-align: left;
}
#uddeim-overview .sectiontableentry1 a,
#uddeim-overview .sectiontableentry2 a  {
	text-decoration: none;
	color: #006699; 
}
#uddeim-overview .sectiontableentry1 a:hover,
#uddeim-overview .sectiontableentry2 a:hover {
	text-decoration: underline;
}
#uddeim-overview tr.sectiontableentry2 {
	background-color: #EAEAEA;
	color: #000000;	
	padding: 3px;	
}
#uddeim-overview tr.sectiontableentry1 {
	background-color: #FFFFFF;
	color: #000000;	
	padding: 3px;	
}
#uddeim-overview tr.sectiontableentry2:hover {
	background-color: #F0F0F0;
}
#uddeim-overview tr.sectiontableentry1:hover {
	background-color: #F8F8F8;
}




/* Page Navigation (below lists) */

#uddeim-pagenav {
	border-collapse:separate;
	border-color:#BFC3C6;
	border-spacing:0;
	border-style:solid;
	border-width:0 1px;
	font-size: 12px;
	text-align: right;
	padding: 6px 8px 0px 8px;
}
#uddeim-pagenav .pagenav {
	color: #000000;
	background: none;
	border: none;
	padding: 2px;
	background-color: transparent;
}
div#uddeim-pagenav a.pagenav {
	color: #006699;
	background: none;
	text-decoration: none;
	border: none;
	padding: 2px;
	background-color: transparent;
}
#uddeim-pagenav a.pagenav:hover {
	text-decoration: underline;
}

#uddeim-pagenav ul li {
  display: inline;
  list-style-type: none;
}





/* Message Display */
/* Header */

div.uddeim-messageheader {
	border-collapse:separate;
	border-color:#BFC3C6;
	border-spacing:0;
	border-style:solid;
	border-width:0 1px 1px 1px;
	clear:both;
	position: relative;
	padding: 0px;
	margin: 0;
	background: #EAEAEA;
}

table.innermost {
	background: none;
	border: none;
	border-spacing: 5px;
	margin: 0px;
	padding: 0px;
}


div.uddeim-messageheader img.uddeim-tn {
	display: table-cell;
	float: left;
}

div.uddeim-messageheader div.uddeim-messagefrom {
	float: left;
	vertical-align: top;
	margin-left: 10px;
	color: #000000;	
}

div.uddeim-messageheader div.uddeim-messagefrom-spam {
	float: left;
	vertical-align: top;
	margin-left: 10px;
	color: #000000;	
}

#uddeim-m div.uddeim-messageheader div.uddeim-messagefrom a {
	color: #006699;
}

#uddeim-m div.uddeim-messageheader div.uddeim-messagefrom-spam a {
	color: #006699;
}

div.uddeim-messageheader ul {
	position: relative;
	top: 0px;
	right: 30px;
	list-style: none;
}

div.uddeim-messageheader li {
	background: url("../../../../../components/com_uddeim/templates/modernblue/images/icon_delete.gif") no-repeat 0px 1px;
	padding-left: 18px;
}

div.uddeim-messageheader  li.uddeim-messageactionlink-delete {
	background-image: url("../../../../../components/com_uddeim/templates/modernblue/images/icon_delete.gif");
}

div.uddeim-messageheader  li.uddeim-messageactionlink-block {
	background-image: url("../../../../../components/com_uddeim/templates/modernblue/images/icon_block.gif");
}

div.uddeim-messageheader  li.uddeim-messageactionlink-archive {
	background-image: url("../../../../../components/com_uddeim/templates/modernblue/images/icon_archive.gif");
}

div.uddeim-messageheader  li.uddeim-messageactionlink-spam {
	background-image: url("../../../../../components/com_uddeim/templates/modernblue/images/icon_spam.gif");
}

#uddeim-m div.uddeim-messageheader li a {
	color: #808080;
}

#uddeim-m div.uddeim-messageheader li a:hover, #uddeim-m div.uddeim-messageheader div.uddeim-messagefrom a:hover {
	color: #F23F00;
	text-decoration: underline;
}

span.uddeim-clear {
	clear: both;
	display: block;
}




/* Message Display */
/* Body */

div.uddeim-messagebody {
/*	clear: both; */
	background: #ffffff;
	border: 1px solid #BFC3C6;
	border-width:0 1px 4px 1px;
	padding: 10px;
	font-size: 1.1em;
	color: #000000;	
}


div.uddeim-replyquote {
	font-size: 0.9em;
	padding-left: 8px;
	margin-top: 8px;
	border-left: 1px solid grey;
}



/* Compose, Writeform */

#uddeim-writeform {
	padding: 0px 8px;
	margin: 0px;
	border-collapse:separate;
	border-color:#BFC3C6;
	border-spacing:0;
	border-style:solid;
	border-width:1px 1px 1px 1px;
}

#uddeim-connectionlist ul {
	margin: 0px;
	padding: 0px 5px 0px 5px;
}

#uddeim-connectionlist ul li {
	display: inline;
	background: none;
	margin: 0px;
	padding: 0px 5px 0px 0px;
}

#uddeim-writeform textarea {
	font-size: 11px;
	width: 450px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #cccccc;
}

#uddeim-writeform input {
	font-family: Arial, Helv, Helvetica, "MS Sans Serif", "Sans Serif";
	font-size: 11px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #cccccc;
}

#uddeim-writeform input#input_to_name {
	width: 200px;
}

#uddeim-writeform input.button {
	font-family: Arial, Helv, Helvetica, "MS Sans Serif", "Sans Serif";
	font-size: 11px;
	background: none;
	background-color: #cccccc;
	color: #000000;
	border: 1px solid #c0c0c0;

}



div.uddeim-messageattachments {
	position: relative;
	padding: 10px;
	margin: 10px 0 0 0;
	background: #C2C2FF;
	border: 1px solid #B5B5FF;
}
div.uddeim-attachmentbox {
	padding: 10px 5px 10px 5px;
}



#uddeim-bbemobox table {
	width: 300px;
	margin-bottom: 8px;
	background: #eee;
	border: 1px solid #bbb;
}

#uddeim-smileybox table {
	width: 450px;
	margin-bottom: 8px;
	background: #eee;
	border: 1px solid #bbb;
}

#uddeim-smileybox-popup table {
	margin-bottom: 8px;
	background: #eee;
	border: 1px solid #bbb;
}

.uddeim-sendoption {
	font-size:		11px;
	padding: 3px;
}

.uddeim-captcha {
	padding: 3px;
}

.uddeim-password {
	padding: 3px;
}

.uddeim-sendbutton {
	padding: 3px;
}

.uddeim-textcounter {
	padding: 3px;
}





/* Settings page */

#uddeim-set-emn {
	padding: 8px 8px 8px 15px;
	background: #D2D2D2;
	border: 1px solid #C5C5C5;	
	margin-top: 15px;
	margin-bottom: 15px;
}

#uddeim-set-emn h4 {
	margin-top: 8px;
}

.uddeim-set-block {
	padding: 8px;
	padding-left: 15px;
	border: 1px solid #BFC3C6;
	border-width:0 1px 1px 1px;
	background: #FFFFFF;
}

.uddeim-set-block div#uddeim-overview {
	padding: 0px;
}


/* Settings: Popup */

#uddeim-set-popup {
	padding: 8px 8px 8px 15px;
	border: 1px solid #C5C5C5;	
	margin-top: 15px;
	margin-bottom: 15px;
}

#uddeim-set-popup h4 {
	margin-top: 8px;
}

/* Settings: Sound */

#uddeim-set-sound {
	padding: 8px 8px 8px 15px;
	border: 1px solid #C5C5C5;	
	margin-top: 15px;
	margin-bottom: 15px;
}

#uddeim-set-sound h4 {
	margin-top: 8px;
}

/* Bottomlines (within uddeim-m) */

#uddeim-bottomlines {
	border-collapse:separate;
	border-color:#BFC3C6;
	border-spacing:0;
	border-style:solid;
	border-width:0 1px 1px 1px;
	font-size: 10px;
	padding: 10px 8px 8px 8px;
	color: #666666;
	line-height: 1.2em;
}

#uddeim-bottomlines p {
	font-size: 11px;
}





/* Bottomborder */

#uddeim-bottomborder {
    background: url("categorybg.png") repeat-x scroll left top #516C81;
    /*border-left: 1px solid #7F9FBA;
    border-right: 1px solid #516C81;*/
    border-left: 1px solid #7F9FBA;
    border-right: 1px solid #516C81;
    border-top: 0 none;
    height: 23px;
    line-height: 23px;
    list-style: none outside none;
    margin: 0;
    padding: 0 10px;
}




.uddeim-bottomborder a {
}
#uddeim-bottomborder a {
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
 margin-right: 5px;
}
#uddeim-bottomborder a:hover {
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;

}
.uddeim-limit-bb {
    margin-left: 15px;
    text-align: right;
    color: #571D2F;
}





/* Others */

.uddeim-warning {
	background-color: #F23F00;
	color: #ffffff;
	font-weight: bold;
	padding: 1px 3px 1px 3px;
}

#uddeim-filter table {
	border-collapse:separate;
	border-color:#BFC3C6;
	border-spacing:0;
	border-style:solid;
	border-width:0 1px 1px 1px;
	padding: 4px;
}

#uddeim-overview {
	border-collapse:separate;
	border-color:#BFC3C6;
	border-spacing:0;
	border-style:solid;
	border-width:0 1px 1px 1px;
	padding: 4px;
}


/* Systemmessage */

#uddeim-message {
	margin-top: 8px;
	padding: 8px;
}

#uddeim-message table {
	border: 1px solid green;
	border-spacing: 10px;
}

#uddeim-message .sectiontableentry1 td {
	padding: 8px;
	padding-left: 15px;
	background: #D2D2D2;
	border: 1px solid #C5C5C5;	
}

#uddeim-message .sectiontableentry1 td img {
	padding-left: 0px;
	margin-left: 0px;
}

#uddeim-message .sectiontableentry2 td {
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #c0c0c0;
	padding: 15px;
	font-size: 12px;
}




/* New Joomla 1.6 */
#uddeim-filter table td,
#uddeim-filter table tr {
	border-style: none;
}
#uddeim-overview .sectiontablefooter {
	background:#C0D0E3 url(categorybg.png) repeat-x scroll left -101px;
	border-left:1px solid #C0D0E3;
	border-right:1px solid #7398B9;
	border-top:0 none;
	margin:-1px 0 0;
	padding:0 4px;
	color: #000000;
	height: 20px;
	line-height: 20px;
	text-align: left;
}
#uddeim-writeform  table td,
#uddeim-writeform  table tr {
	border-style: none;
}
