
/* MODULE STYLING EXTERNAL CONTAINER */
.mod_flexiadvsearch_wrapper {
}

.mod_flexiadvsearch_wrapper .flexiadvsearchlink {
	margin-left: 8px !important;
}

.mod_flexiadvsearch_wrapper .fc_filter.fc_text_search {
	padding:0px;
	margin:0px;
	border:0px solid;
}