/*****************************************
 * Checkbox / Radio styling (and hide them)
 *****************************************/

/* Labels with these classes must have input/select placed inside them */

label.fccheckradio_lbl,
span.fcselect_lbl {
	display:inline-block;
	white-space:nowrap;
	padding-right: 8px;
	min-width:0px;
	margin: 0px 0px 0px 2px;
	float: left;
	clear: none;
}


/* J3.x styles for radio button sets */

.flexicontent span.radio {
	white-space: normal !important;
	display: inline-block !important;
	padding: 0px !important;
}

.flexicontent label.radio {
	white-space: nowrap !important;
	width: auto !important;
	display: inline-block !important;
	padding: 0px 4px 0px 0px !important;
	margin: 0px !important;
}


/* !! Negation selector :not(...) is that in browsers (ie8) that do not support these CSS rules, we will have a good fallback appearance */

/* Hide input field, but exclude input inside labels (Graceful fallback) */

input[type=checkbox]:not(old).fc_checkradio,
input[type=radio   ]:not(old).fc_checkradio,
[name="adminForm"]  input[type=checkbox]:not(old),
[name="adminForm"]  input[type=radio   ]:not(old),
.flexicontent input[type=checkbox]:not(old),
.flexicontent input[type=radio   ]:not(old) {
	width: 24px !important;
	/*width: 19px !important;*/
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	display: none !important;
}
div input[type=checkbox][name^="cid"],
div input[type=checkbox]:only-child,
label input[type=checkbox].fc_checkradio:not(old),
label input[type=radio   ].fc_checkradio:not(old),
[name="adminForm"]  label input[type=checkbox]:not(old),
[name="adminForm"]  label input[type=radio   ]:not(old),
.flexicontent label input[type=checkbox]:not(old),
.flexicontent label input[type=radio   ]:not(old) {
	width: auto !important;
	margin: 3px 3px 0px 0px !important;
	padding: auto !important;
	opacity: inherit !important;
	display: inline !important;
	vertical-align:bottom !important;
}


/* Style the label to also include the nice checkbox, radio */

input[type=checkbox].fc_checkradio:not(old) + label,
input[type=radio   ].fc_checkradio:not(old) + label,
[name="adminForm"]  input[type=checkbox]:not(old) + label,
[name="adminForm"]  input[type=radio   ]:not(old) + label,
.flexicontent input[type=checkbox]:not(old) + label,
.flexicontent input[type=radio   ]:not(old) + label {
	display: inline-block !important;
	margin: 1px 12px 1px 0px !important;
	padding: 0px 0px 0px 24px !important;
	line-height: 24px !important;
	height: 24px !important;
	text-align: left !important;
	min-width: 12px !important;
	cursor: pointer !important;
	color: #333;
	/*margin-left: -19px !important;
	padding-left: 19px !important;
	line-height: 19px !important;
	height: 19px !important;*/
}
input[type=checkbox].fc_checkradio:not(old):disabled + label,
input[type=radio].fc_checkradio:not(old):disabled + label,
[name="adminForm"]  input[type=checkbox]:not(old):disabled + label,
[name="adminForm"]  input[type=radio]:not(old):disabled + label,
.flexicontent input[type=checkbox]:not(old):disabled + label,
.flexicontent input[type=radio]:not(old):disabled + label {
	background-position: 0 -72px !important;
	font-style: italic !important;
	color: gray !important;
	cursor: normal !important;
	/*background: url(../images/checks2.png) no-repeat 0 0 !important;*/
}
input[type=checkbox].fc_checkradio:not(old) + label,
[name="adminForm"]  input[type=checkbox]:not(old) + label,
.flexicontent input[type=checkbox]:not(old) + label {
	background: url(../images/checks.png) no-repeat 0 0 !important;
	/*background: url(../images/checks2.png) no-repeat 0 0 !important;*/
}
input[type=radio].fc_checkradio:not(old) + label,
[name="adminForm"]  input[type=radio]:not(old) + label,
.flexicontent input[type=radio]:not(old) + label {
	background: url(../images/checks.png) no-repeat 0 0 !important;
	/*background: url(../images/checks2.png) no-repeat 0 -38px !important;*/
}


/* Style the checked versions of checkbox,radio */

input[type=checkbox]:not(old):checked + label,
[name="adminForm"]  input[type=checkbox]:not(old):checked + label,
.flexicontent input[type=checkbox]:not(old):checked + label {
	background-position: 0 -24px !important;
	/*background-position: 0 -19px !important;*/
}
input[type=radio]:not(old):checked + label,
[name="adminForm"]  input[type=radio]:not(old):checked + label,
.flexicontent input[type=radio]:not(old):checked + label {
	background-position: 0 -48px !important;
	/*background-position: 0 -57px !important;*/
}

input[type=checkbox].fc_checkradio,  input[type=checkbox].fc_checkradio:focus,  input[type=radio].fc_checkradio,  input[type=radio].fc_checkradio:focus,
[name="adminForm"]  input[type=checkbox],  [name="adminForm"]  input[type=checkbox]:focus,  [name="adminForm"]  input[type=radio],  [name="adminForm"]  input[type=radio]:focus,
.flexicontent input[type=checkbox],  .flexicontent input[type=checkbox]:focus,  .flexicontent input[type=radio],  .flexicontent input[type=radio]:focus {
	border: 0px !important;
}


/* Styling for radio/checkboxes , for browser not supporting above,  e.g. ie8,ie9) */

input.fc_checkradio {
	margin: 0px 4px 3px 4px !important;
	padding: 0px !important;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}

/* Styling for radio/checkboxes lists */
span.fc_checkradio_group_wrapper {
	display: inline-block;
	float: left; clear: both; 
	margin: 0px; padding: 0px;
	overflow-y: auto !important;
	overflow-x: visible;
	height: auto;
	max-height: 220px;
}
ul.fc_checkradio_group { list-style-type: none !important; display: block; clear: both; }
li.fc_checkradio_option { white-space: nowrap !important; display: inline-block; /* auto-hide do not force display */}
ul.fc_checkradio_group,
li.fc_checkradio_option {
	padding: 0px !important;
	margin: 0px !important;
	background: none transparent !important;
}



/**********************************************************
 * ALTERNATIVE display like a bar (use 'fc_checkradio_bar')
/**********************************************************/

/* Style the label to also include the nice checkbox, radio */

input[type=checkbox].fc_checkradio_bar:not(old) + label,
input[type=radio   ].fc_checkradio_bar:not(old) + label {
	display: inline-block !important;
	margin:-2px !important;
	padding: 4px 12px !important;
	margin-bottom: 0 !important;
	font-size: 14px !important;
	line-height: 20px !important;
	color: #333 !important;
	text-align: center !important;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75) !important;
	vertical-align: middle !important;
	cursor: pointer !important;
	background-color: #f5f5f5 !important;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6)) !important;
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6) !important;
	background-image: -o-linear-gradient(top,#fff,#e6e6e6) !important;
	background-image: linear-gradient(to bottom,#fff,#e6e6e6) !important;
	background-repeat: repeat-x !important;
	border: 1px solid #ccc !important;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf !important;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;
	border-bottom-color: #b3b3b3 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05) !important;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05) !important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05) !important;
}


/* Style the checked versions of checkbox,radio */

input[type=checkbox].fc_checkradio_bar:not(old):checked + label,
input[type=radio].fc_checkradio_bar:not(old):checked + label {
	background-image: none !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05) !important;
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05) !important;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05) !important;
	background-color:#e0e0e0 !important;
}




/********************************
 * Flexicontent buttons for Forms
 *******************************/

/* IE6 fix */
html button {
	*overflow: visible; /* remove padding from left/right */
	*width:0; /*remove the remaining space in IE6*/
}
 
/* IE7 fix */
:first-child+html button {
	*overflow: visible; /* remove padding from left/right */
	*width:auto !important;
}

.flexi_buttons, .fc_buttons { margin: 0px; padding:0px 2px 0px 2px; display: inline-block; }

.flexicontent button,
.fc_button,
.fc_buttons button,
.flexi_buttons button {
	border:1px solid #7d99ca !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	font-size:12px !important;
	font-family:arial, helvetica, sans-serif !important;
	padding: 5px 10px 5px 10px !important;
	margin: 2px 2px 2px 2px !important;
	text-decoration:none !important;
	text-transform:none !important;
	display:inline-block !important;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3) !important;
	font-weight:bold; color: #FFFFFF !important;
	background-color: #a5b8da !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3)) !important;
	background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3) !important;
	background-image: -moz-linear-gradient(top, #a5b8da, #7089b3) !important;
	background-image: -ms-linear-gradient(top, #a5b8da, #7089b3) !important;
	background-image: -o-linear-gradient(top, #a5b8da, #7089b3) !important;
	background-image: linear-gradient(to bottom, #a5b8da, #7089b3) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3) !important;
}

.fc_button.fcsimple {
	font-size: 11px !important;
	font-family: tahoma !important;
	padding: 3px 10px 3px 10px !important;
	background-color: #444 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(black)) !important;
	background-image: -webkit-linear-gradient(top, #444, black) !important;
	background-image: -moz-linear-gradient(top, #444, black) !important;
	background-image: -ms-linear-gradient(top, #444, black) !important;
	background-image: -o-linear-gradient(top, #444, black) !important;
	background-image: linear-gradient(to bottom, #444, black) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#444444, endColorstr=black) !important;
	border:1px solid black !important;
}


.fc_button.fcsimple:hover {
	background-color: #770000 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aa0000), to(#770000)) !important;
	background-image: -webkit-linear-gradient(top, #aa0000, #770000) !important;
	background-image: -moz-linear-gradient(top, #aa0000, #770000) !important;
	background-image: -ms-linear-gradient(top, #aa0000, #770000) !important;
	background-image: -o-linear-gradient(top, #aa0000, #770000) !important;
	background-image: linear-gradient(to bottom, #aa0000, #770000) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#aa0000, endColorstr=#770000) !important;
	border:1px solid #770000 !important;
}

.flexicontent button:hover,
.fc_button:hover,
.fc_buttons button:hover,
.flexi_buttons button:hover {
	border:1px solid #5d7fbc !important;
	background-color: #819bcb !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d)) !important;
	background-image: -webkit-linear-gradient(top, #819bcb, #536f9d) !important;
	background-image: -moz-linear-gradient(top, #819bcb, #536f9d) !important;
	background-image: -ms-linear-gradient(top, #819bcb, #536f9d) !important;
	background-image: -o-linear-gradient(top, #819bcb, #536f9d) !important;
	background-image: linear-gradient(to bottom, #819bcb, #536f9d) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d) !important;
}

/*
.fcbutton_apply, .fcbutton_save, .fcbutton_cancel,
.fcbutton_preview, .fcbutton_preview_save,
.fcbutton_go, .fcbutton_reset { padding-left: 20px !important }
.fcbutton_apply { background: url(../images/accept.png) no-repeat !important; }
.fcbutton_save { background: url(../images/accept.png) no-repeat !important; }
.fcbutton_preview_save { background: url(../images/monitor_go.png) no-repeat !important; }
.fcbutton_preview { background: url(../images/monitor.png) no-repeat !important; }
.fcbutton_cancel { background: url(../images/cancel.png) no-repeat !important; }
.fcbutton_go { background: url(../images/accept.png) no-repeat !important; }
.fcbutton_reset { background: url(../images/cancel.png) no-repeat !important; }
*/

/*div table.adminform select,  .flexicontenttable.adminlist select*/

.flexicontent label {
	display: inline-block;  /* important causes problem hidden labels */
	float: none !important;
	margin-right: 12px !important;
}
.flexicontent input[type=text] {
	font-size:11px !important;
	display: inline-block !important;
	/*float: none !important;*/ /* problem with */
	margin: 2px 2px 1px 3px !important;
	padding: 4px 2px 5px !important;
	border-radius: 4px !important;
}
.flexicontent select {
	font-size: 11px !important;
	display: inline-block !important;
	/*float: none !important;*/ /* problem with */
	margin: 1px 2px 1px 3px !important;
	padding: 4px 2px !important;
	border-radius: 4px !important;
}
