
/* Buttons */
.button-add a {
	display: inline-block;
	padding: 1px 8px;
	border: 1px solid #ccc;
	background: #efefef;
}
.button-add a,
.button-add a:visited,
.button-add a:link,
.button-add a:hover {
	color: black;
	text-decoration: none;
}
div .button2-left {	margin:-2px 4px 2px 0px; }

/* Copy parameters */
.copyok {
	background: url(../images/accept.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
	margin: 5px 15px;
}
.copyfailed {
	background: url(../images/delete.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
	margin: 5px 15px;
}
.copywarn {
	background: url(../images/warning.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
	margin: 5px 15px;
}
.install-ok {
	background: url(../images/accept.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
}
.install-notok {
	background: url(../images/delete.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
}

/* Import screen */
#import-log {
	margin: 10px 10px 15px 10px;
	font-size: 12px;
	line-height: 140%;
	font-family: tahoma;
	white-space: normal;
}
.alert-modalbox {
	display: block;
	border-color: #D8000C !important;
	margin: 0 0 15px 0 !important;
	padding: 8px 10px 8px 36px !important;
	
	border: 1px solid !important;
	border-radius: 6px !important;
	border-color: #D8000C !important;
	
	background: #f0f0f0 url(../images/error.png) no-repeat 10px 50%;
  color: black !important;
}
.alert-modalbox-title {
	display: block;
	margin: 5px 0px;
	font-weight: bold;
}
.centerimg {
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 0px;
	height: 30px;
}
.spinner {
	display: block;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 0px;
	height: 30px;
}
.lang-success {
	color: green;
	font-weight: bold;
}
.lang-fail {
	color: red;
	font-weight: bold;
}
#missing {
	display:none;
}
.button-close {
	text-align: center;
	margin: 20px 0px;
	padding: 0px;
}
ul.import-ok, ul.import-failed {
	list-style: none;
	margin: 5px 0 10px;
	padding: 0 0 0 10px;
}
ul.import-ok li {
	background: url(../images/accept.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
}
ul.import-failed li {
	background: url(../images/delete.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
}

/** state toggler (backend specific CSS) **/
ul.statetoggler {
	float: none !important;
	margin: 0 !important;
}

/** rating bar **/
.qf_ratingbarcontainer {
	border: 1px solid #999999;
	height: 10px;
	width: 60px;
	margin: 2px 2px;
	display: block;
}
.qf_ratingbar {
	background-color: silver;
	height: 10px;
	display: block;
}

/**
 * Upload Widget CSS
 */
.upload-queue {
	list-style: none;
}

.upload-queue li {
	background: url(../images/upload.png) no-repeat 0 5px;
	padding: 5px 0 5px 22px;
}

.upload-queue .queue-file {
	font-weight: bold;
}

.upload-queue .queue-size {
	color: #aaa;
	margin-left: 1em;
	font-size: 0.9em;
}

.upload-queue .queue-loader {
	position: relative;
	margin: 3px 15px;
	font-size: 0.9em;
	background-color: #ddd;
	color: #fff;
	border: 1px inset #ddd;
}

.upload-queue .queue-subloader {
	text-align: center;
	position: absolute;
	background-color: #81B466;
	height: 100%;
	width: 0%;
	left: 0;
	top: 0;
}

.upload-queue .input-delete {
	width: 16px;
	height: 16px;
	background: url(../images/delete.png) no-repeat 0 0;
	text-decoration: none;
	border: none;
	float: right;
}

/* set the image to use and establish the lower-right position */ 
.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2{ 
	background: transparent url(../images/qfbox.png) no-repeat bottom right
	}
.cssbox{ 
	/* intended total box width - padding-right(next) */ 
	width:490px !important;
	/* IE Win = width - padding */ 
	width: 475px;
	/* the gap on the right edge of the image (not content padding) */ 
	padding-right:15px;
	/* use to position the box */ 
	margin: 20px
/*	float: left*/
}
/* set the top-right image */ 
.cssbox_head{
	background-position:top right;
	/* pull the right image over on top of border */ 
	margin-right:-15px;
	/* right-image-gap + right-inside padding */ 
	padding-right:40px
}

/* set the top-left image */ 
.cssbox_head h2{ 
	background-position:top left; 
	margin:0;
	/* reset main site styles*/ 
	border:0;
	/* ditto */ 
	/* padding-left = image gap + interior padding ... no padding-right */ 
	padding:25px 0 15px 15px;
	height:auto !important;
	height:1% 
}/* IE Holly Hack */ 

/* set the lower-left corner image */ 
.cssbox_body{ 
	background-position:bottom left; 
	margin-right:0px;/* interior-padding right */ 
	padding:15px 0 15px 15px
}
/* mirror .cssbox_head right/left */
/* Validation */
.invalid {
	color:#CC0000;
}
select.invalid,
input.invalid,
textarea.invalid {
/* 	border: 1px solid #CC0000; */
	border-style: dotted;
}
/* EOF Validation */
.calendar {
	vertical-align: middle;
}
/* */
.hasTip {
	cursor: help;
}
/**/
div.fieldgroups {
	float: left;
	margin-bottom: 10px;
}
fieldset.fieldgroups {
	margin: 0 20px 0 0;
	padding: 5px 10px;
}
fieldset.fieldgroups legend {
	color: #666;
	font-size: 11px;
	border: 1px solid #ccc;
	background-color: #f6F6F6;
	padding: 3px 6px 2px;
	margin: 0px 20px 0px 0px;
	}
fieldset.fieldgroups legend span img {
	vertical-align: middle;
	padding-left: 5px;
	}
/* image field */
.empty_image {
	display: block;
	background: #F9F9F9 url(../images/image_add.png) no-repeat 50% 50%;
	border:1px solid silver;
	margin-bottom:3px;
}
/* Versioning */
.versions-first {
	border-bottom: 1px dotted silver;
	padding: 4px;
}
.versions {
	border-bottom: 1px dotted silver;
	padding: 4px 0;
}
.versions img {
	vertical-align: middle;
}
.active-version {
	background: #FFFFDD;
}
#pager {
	clear:both;
	float:left;
	overflow:hidden;
	width:100%;
	margin-bottom: 5px;
}
#result {
}
/* Credits */
div.credits {
	margin-top: 15px;
	text-align: center;
}
/* Filemanager */
.filemanager img {
	vertical-align: middle;
}
/* Access */
fieldset.flexiaccess legend {
	background: url(../images/toggle_blue.png) no-repeat 98% 50%;
	padding-right: 22px;
	line-height: 18px;
	cursor: pointer;
}
option[disabled], option[readonly] { color: #bbb; }
/* Categories in the items view */
span.maincat a {
/* 	color: red; */
}
span.secondarycat a {
	color: black;
}
/* Category view */
h3.themes-title {
	color: #666666;
	background: url(../images/layout_content.png) no-repeat 0% 0%;
	padding: 0px 0px 0px 20px;
	font-family: Helvetica;
}
h3.themes-title small {
	font-weight: normal;
}

/* Tooltip import tags */
span.editlinktip.hasTip.tags img {
	position: relative;
	top: 4px;
	left: 2px;
	margin-right: 4px;
}
/* Panes disabled */
.pane-disabled {
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	font-style: oblique;
}

/* Template view */

#sortable-fields {}
#sortable-pos {}

.postitle {
	margin: 10px 0 2px;
	font-weight: bold;
}

.positions_container {
	border: 1px dashed silver;
	display: inline-block;
	background-color: #f0f0f0;
	padding: 0;
	margin: 0;
	width: 100%;
}
.positions_readonly, .positions {
	list-style: none;
	padding: 5px 0px 0px 0px;
	margin: 0;
	display: block;
	height: 0px;
	background-color: lightgray;
	border: 0px dashed silver;
	overflow: visible;  /* hidden, CAUSES annoying jumps with jQuery sortable */
	width: 100%;
}
div .positions_readonly {
	padding: 2px 1%;
	width: 98%;
}

.fields {
	display: block;
	border: 1px solid silver;
	padding: 4px 6px 3px 24px;
	margin: 2px;
	float: left;
	cursor: move;
}
.fields.user {
	background: url(../images/textfield.png) #f9f9f9 no-repeat  3px 50%;
}
.fields.core {
	background: url(../images/textfield_key.png) #f9f9f9 no-repeat  3px 50%;
}
#lay-desc-table .key {
	width: 80px;
}
fieldset.tmplprop legend {
	background: url(../images/toggle_blue_up.png) no-repeat 98% 50%;
	padding-right: 22px;
	line-height: 18px;
	cursor: pointer;
}
fieldset.tmplprop legend.open {
	background: url(../images/toggle_blue.png) no-repeat 98% 50%;
}

/* Backend Listings */
table.adminlist thead th.left {
	text-align: left;
	border-bottom: none;
}
table.adminlist thead th.center {
	text-align: center;
	border-bottom: none;
}
table.adminlist thead td {
	background: #fff;
	color: #666;
/* 	border-bottom: 1px solid #999; */
	border-left: 1px solid #fff;
	vertical-align: middle;
}
table.adminlist thead td.left #search,
table.adminlist thead td.left #filter_id {
	width: 92%;
}
table.adminlist thead td.left .radio {
	display: block;
	margin-bottom: 5px;
}
table.adminlist thead th .filterdel img {
	vertical-align: bottom;
}
table.adminlist thead td.filterbuttons {
	background-color: #f0f0f0;
	border-bottom: 1px solid #999;
}
table.adminlist thead td.filterbuttons input[type="text"] {
	background-color: #fff;
	border-radius: 2px;
	font-weight: bold;
	margin-left: 4px;
}
table.adminlist thead td.filterbuttons input {
	background-color: transparent;
}
table.adminlist thead td.filterbuttons input:hover {
	background-color: lightgray;
}

table.adminlist td.yellow,
table.adminlist tbody tr td.yellow,
table.adminlist tbody tr.row1 td.yellow {
	background-color: #FFFFDD;
}

table.adminlist thead #filter_lang,
table.adminlist thead #filter_state,
table.adminlist thead #filter_type { width: 50px !important; }
table.adminlist thead #filter_authors { width: 120px !important; }
table.adminlist thead #filter_cats { width: 120px !important; }
table.adminlist thead #startdate,
table.adminlist thead #enddate { width: 100px !important; }

table.adminlist td.order {
	width: auto !important;
}

table.adminlist td.order span {
	width: 16px !important;
}

table.adminlist th {
	padding: 4px 4px !important;
}
table.adminlist td {
	padding: 2px 4px !important;
}

.novalue {
	color: gray;
	font-style: italic;
}
.submitbutton {
	background: url(../images/bullet_add.png) no-repeat 0% 50%;
	padding-left: 12px;
}

/* Tags list autocomplete */
ul#ultagbox{
	min-height: 26px !important;
	margin: 0 !important;
	padding: 0 !important;
}
ul#ultagbox li{
	list-style-type:none !important;
	display:block !important;
	float:left !important;
	margin: 2px !important;
	line-height: 100% !important;
}

.tagitem.plain {
	background: url(../images/tag_blue.png) #f9f9f9 no-repeat  100% 50% !important;
	padding-right: 18px!important;
}
.tagitem {
	border: 1px solid silver !important;
	padding: 4px 1px 3px 6px !important;
	background: url(../images/tag_blue_delete.png) #f9f9f9 no-repeat  100% 50% !important;
	margin: 2px !important;
}
.deletetag {
	display: block !important;
	width: 18px !important;
	height:14px !important;
	float: right !important;
	margin-left: 5px !important;
	outline: none !important;
	background-color: transparent !important;
}
/** tag selection */
div#tags {
	margin: 4px 0px !important;
	padding:0px !important;
}
div#tags #input-tags {
	margin: 4px !important;
}
div#tags #input_new_tag {
	display:inline-block !important;
	padding: 0px !important;
	margin: 0px 4px -4px 0px;
	width: 16px !important;
	height: 16px !important;
	background: url(../images/tag_blue_add.png) #f9f9f9 no-repeat  100% 50% !important;
}
.qf_tagbox {
	display: block !important;
	max-height: 170px !important;
	overflow: auto !important;
	border: 1px dashed silver !important;
	background: #fff !important;
	margin: 0px 4px 4px 0px !important;
}

.qf_tagidbox {
	width: 20px !important;
	display: block !important;
	float: left !important;
	margin-top: -4px !important;
}

.qf_addtag { 
	margin-top: 10px !important;
}

.qf_centerimg {
	text-align: center !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
}

.flexicontent .clear,
#flexicontent .clear,
.clear
{ border: 0; clear: both; float: none; font-size: 1px; height: 0; line-height: 1px; margin: 0; padding: 0; visibility: hidden;}

div#result table.versionlist {
	border: 1px dashed silver;
	padding: 5px;
	margin-bottom: 5px;
}
div#result table.versionlist th {
	border-bottom: 1px dotted silver;
	padding: 2px 0 6px 0;
}

.fc_select_button {
	display:block;  float:left;  padding:6px;  margin: 12px; 
	background-color:#eeeeee;  border:1px solid #dddddd;  border-radius:6px;
	font-weight:bold;  font-size:11px;  font-family:tahoma;
	text-align:left;  text-decoration:none;
}
.fc_select_button:hover {
	background-color:#dddddd;
}
span.fc_select_button {
	background-color:white;  color: gray;  font-weight: normal; font-style: italic;
}
span.fc_select_button:hover {
	background-color:white;
}

div label.state_box,
div label.lang_box {
	white-space:nowrap !important;
	display:inline-block !important;
	margin: 0px 8px 0px 0px !important;
	padding: 0px!important;
	vertical-align: top !important;
	font-size: 12px !important;
}
div label.state_box input,
div label.state_box img,
div label.state_box .state_lbl,
div label.lang_box input,
div label.lang_box img,
div label.lang_box .lang_lbl {
	display:inline-block !important;
	margin: 4px 5px 0px 0px !important;
	padding: 0px !important;
	vertical-align: top !important;
	line-height: 1em !important;
	font-size: 12px !important;
}
div label.lang_box img, .fc_assoc_translation img {	border: 1px solid lightgray !important; }
.fc_assoc_translation img  { margin-right: 5px !important; }


/* Import view */
#flexicontent table label.fckey {
	display:inline-block;
	float:none !important;
	width:82%;
	padding:6px 6% !important;
	margin:1px 6% 0px 1px;
}
.fcimporttbl {}
.fcimportdata {
	padding-top:6px;
	font-size:12px;
	white-space:nowrap;
}
.fcimportdata label.fcdata {
	font-weight: normal;
}
.fcimport_sampleline {
	font-size:12px;
	font-familiy:tahoma;
	line-height:1.6em;
	display:block;
	margin-top: 12px;
}
.fcimport_missingfile {
	background: url(../images/warning.png) 0 0 no-repeat;
	padding: 2px 0px 2px 20px;
	color: red;
}

ol.fcimport_field_value_list {
	margin:0px;
	padding:0px;
	position: relative;
	left:0px;
}
ul.fcimport_field_value_list {
	margin:0px;
	padding:0px;
	position: relative;
	left:0px;
}

dl.fcimport_field_prop_list.fcimport_field_prop_mainlist dt { text-align: right; width:auto; clear:none;}
dl.fcimport_field_prop_list.fcimport_field_prop_mainlist dd { float:left;  margin-right:48px; }

dl.fcimport_field_prop_list { border: 0px solid; margin: 0px; padding: 0px; }
dl.fcimport_field_prop_list > dt { float: left; clear: left; width:auto; text-align: left; font-weight: bold; color: green; margin-right:6px; }
dl.fcimport_field_prop_list > dt:after { content: ":"; }
dl.fcimport_field_prop_list > dd { margin:0; padding:0; }

ol.fcimport_field_value_list { margin-left:1.5em; padding-left:0px; }
ul.fcimport_field_value_list { margin-left:0em; padding-left:0.2em; margin-bottom:0; }
ul.fcimport_field_value_list li {
	background:url(../images/readon.gif) 0% 50% no-repeat transparent;
  padding-left: 16px; 
  list-style: none; 
}
ul.fcimport_field_value_list li:first-child { border-top: 0px dashed; width:100% }
ul.fcimport_field_value_list li { border-top: 1px dashed lightgray; float:left; clear:both; }

ol.fcimport_field_value_list li,
ul.fcimport_field_value_list li { margin-bottom:0em; }
.fcimport_field_value_list ul li {
	/*background-image:url(../images/add.png);*/
}
.fcimport_field_value_list ol li { 
  list-style:decimal; 
  background-image:none; 
  padding-left:0em; 
}

/* Edit form */
#flexicontent .fc_edit_container_full {
	float:none !important;
	width:98% !important;
	margin:1em 1% 1em 1% !important;
	padding:0px !important;
	display:inline-block !important;
	border: 0 none;
}

#flexicontent div.fields_tabset,
#flexicontent div.params_tabset {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

#flexicontent div.fields_tabset .tabbertab,
#flexicontent div.params_tabset .tabbertab {
	padding-bottom: 1.4em !important;
}

#flexicontent .panel h3 a { padding:0px 0px 4px 0px; }
#flexicontent .pane-sliders .panel .pane-slider { padding: 0px !important; }
#flexicontent .pane-sliders .panel .pane-slider fieldset.panelform {
	margin: 4px !important;
	border: 1px solid lightgray !important;
}


#flexicontent .fcfield-sortables { margin:0px!important; padding:0px!important; }
#flexicontent .fcfield-sortables li { margin:0px 0px 4px 0px; padding:0px;  }
#flexicontent .fcfield-sortables li .input-append,
#flexicontent .fcfield-sortables li .input-prepend { float:left; }

/* buttons in forms, special class for add button */
#flexicontent .fcfield-button,
#flexicontent .fcfield-addvalue { padding:6px 8px; margin:2px 2px 0px 6px !important; }

/* special classes for button-like add-link */
#flexicontent .fcfield-button-add {	float:none!important; margin:0px; padding:0px; }
#flexicontent .fcfield-button-add a { padding:6px 8px !important; margin:2px 2px 0px 6px !important; }

#flexicontent .fcfield-addvalue,
#flexicontent .fcfield-button,
#flexicontent .fcfield-button-add a {
	display: inline-block;
	font-family: tahoma; font-size:11px;
	font-weight:bold!important; text-decoration:none!important;
	background-color: white!important; color:gray!important;
	border-radius:4px; border:1px solid lightgray;
}

#flexicontent .fcfield-addvalue:hover,
#flexicontent .fcfield-button:hover,
#flexicontent .fcfield-button-add a:hover {
	background-color:darkred!important; color:white!important;
	text-decoration:none!important; border:1px solid darkred;
}

#flexicontent .fcfield-button { margin-left:6px!important; float:none!important; }
#flexicontent .fcfield-drag {	float:none; margin:0px; padding:0px; }
#flexicontent .fcfield-drag img { margin:2px 4px -3px 6px !important; cursor: move!important; float: none!important; display: inline!important; }
#flexicontent .fcfield-row img.calendar { margin:0px 0px 0px 2px !important; }

div fieldset input, div fieldset textarea, div fieldset select, div fieldset img, div fieldset button {
	margin: 2px 2px 2px 0px !important;
}

#flexicontent .fc_form_title,
#flexicontent .fc_form_alias,
#flexicontent #alias, #flexicontent #jform_alias,
#flexicontent #title, #flexicontent #jform_title,
#flexicontent #jform_lang_parent_id_name, #flexicontent #lang_parent_id_name
{
	font-size:11px!important;
	font-family:tahoma!important;
	font-weight:normal!important;
	width:97%;
	max-width:600px;
}

dl.tabs dt { font-size:10px !important; font-family:tahoma !important; font-weight:normal !important; }

#flexicontent table.adminform td { padding: 0px 2px 0px 2px; }
#flexicontent table.adminform { margin: 0px; }
table.adminform td #search { margin-bottom: 0px; padding: 4px !important; }

#flexicontent span.flexi_label label {
	float:right; margin:0px; padding:0px;
	color:auto; font-size: 12px;
	font-style: italic; font-family: arial;
}
#flexicontent span.flexi_label label label { float:right; margin:auto; padding:auto; }

#flexicontent .flexi_label.fcdualline { width:32%; padding: 6px 2% 6px 2% !important; }
#flexicontent .params_set label.hasTip, #flexicontent .params_set label.hasTooltip,
#flexicontent .flexi_params label.hasTip, #flexicontent .flexi_params label.hasTooltip,
#flexicontent label.fckey,
#flexicontent .flexi_label {
	display: block;
	float: left !important;
	clear: left !important;
	color: #606060;
  background-color: #F2F2F2;
  border-bottom: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
  font-size: 12px;
  font-family: tahoma;
  font-weight: normal;
  text-align: right !important;
  width: 16%;
  max-width:150px;
  min-width:auto !important;
  margin: 2px 1% 3px 0% !important;
  padding: 6px 1% 6px 1% !important;
  border-radius:6px;
}

#flexicontent .flexi_params .fcdualline_container { margin: 0px; padding: 0px; float: left; min-width: 430px; }
#flexicontent .flexi_params .fcdualline_container label.flexi_label,
#flexicontent .flexi_params .fcdualline_container label.hasTip,
#flexicontent .flexi_params .fcdualline_container label.hasTooltip { clear: none !important; width: 32% !important; }
#flexicontent .flexi_params .fcdualline_container .container_fcfield input[type="text"],
#flexicontent .flexi_params .fcdualline_container .container_fcfield select { max-width: 250px !important; }

.flexicontent td.paramlist_key label { margin-right: 2px !important; }
#flexicontent .flexi_params td.paramlist_key { vertical-align: top; }
#flexicontent .flexi_params td.paramlist_key label.hasTip,
#flexicontent .params_set td.paramlist_key label.hasTip {
	width: 84% !important;
  margin: 2px 0 !important;
  padding: 6px 5% !important;
}
td.paramlist_key label#params-lbl.hasTip { display:none; }
.flexi_params {
	margin:0 !important;
	padding:0 !important;
	width:100% !important;
	border: 0px !important;
}
.flexi_params table.admintable,
.flexi_params table.admintable td {
	margin:0 !important;
	padding:0 !important;
	border:0 none !important;
	background: none !important;
}

#flexicontent .flexi_label.invalid {
	color:red !important;
}

#flexicontent .flexi_label.fc_tooltip_icon_bg {
  padding: 6px 3% 6px 1% !important;
  width: 14%;
  max-width:126px;
	background: url(../images/lightbulb.png) 98% 5px no-repeat #F2F2F2;
}

#flexicontent .flexi_label.invalid {
	font-weight: bold;
}
#flexicontent .flexi_formblock {
	clear: both; width:100%; padding:0; margin:0;
}

#flexicontent { margin:0px!important; }
#flexicontent fieldset.basicfields_set,
fieldset.flexiaccess, fieldset.adminform,
#flexicontent fieldset.customfields_set,
#flexicontent fieldset.params_set {
	border: 1px solid #dddddd;
	margin: 1em 1% 0px 1% !important;
	padding: 4px 1% 4px 1% !important;
	width: 96%;
	min-width: inherit !important; /* workaround for chrome fieldset width bug */
	display: block;
}
fieldset.flexiaccess, fieldset.adminform { margin-bottom: 1em !important; }
fieldset.flexiaccess legend, fieldset.adminform legend { font-weight:bold; font-size: 14px; }

#flexicontent form input,
#flexicontent form button,
#flexicontent form select,
#flexicontent form textarea {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	cursor: pointer;
	margin: 0;
	padding: 0.1em 0.4em 0.1em 0.2em;
}

#flexicontent form input.invalid,
#flexicontent form select.invalid {
	border: 1px dotted #ff0000 !important;
}

div.flexi_box_left,
div.flexi_box_right {
	float: left;
	width: 48%;
}

div.flexi_box_right {
	float: right;
}

/** FLEXIcontent radio/checkbox buttons **/
.flexi_radiotab {
	display: inline-block !important;
	padding: 1px 6px !important;
	margin: 2px 0px 2px 8px !important;
	border-radius: 4px !important;
	border: 1px solid darkgray !important;
	text-decoration: none !important;
	font-weight: bold;
}

.flexi_radiotab.highlight {
	background-color: lightgray !important;
	color: darkred !important;
}

.flexi_radiotab.downlight {
	background-color: white !important;
	color: black !important;
	cursor: pointer !important;
}

.flexi_tabbox_label {
	font-weight: bold;
	color: #444444;
	margin-right:12px;
	display:inline-block;
	margin-right:12px;
}

#adminForm a.mb, #adminForm a.mb:link, #adminForm a.mb:visited, #adminForm a.mb:hover, #adminForm a.mb:active {
	margin: 6px 6px 4px 0;
}

.fc_mini_note_box {
	font-size: 11px;
	background-color: lightyellow;
	border: 1px solid lightgray;
	border-radius: 6px;
	width: auto;
	padding: 2px 2%;
	margin: 2px 8px;
}

.fieldgrprow_cell {
	padding-right: 6px;
}

.fieldgrprow_cell:last {
	padding-right: 0px;
}

div#cpanel div.icon { margin: 7px; text-align: center; }
div#cpanel span, div.cpanel span { display: block; text-align: center; }
div#cpanel img, div.cpanel img { margin: 0 auto; padding: 10px 0; }
div#cpanel div.icon  a {
	border: 1px solid lightgray;
	border-radius: 8px;
	display: block;
	width: 108px;
	height: 97px;
}

.fc_drag_handle_none, .fc_drag_handle {
	display: block !important;
	width: 16px;
	height: 16px;
	float: left !important;
	margin: 0px !important;
	padding: 0px !important;
}

.fc_drag_handle {
	cursor: move;
}

.fc_drag_handle_none {
	background: url(../images/move2_none.png) 0% 0% no-repeat transparent;
}

.fc_drag_handle.fc_drag_handle_disabled {
	background: url(../images/move3.png) 0% 0% no-repeat transparent !important;
	cursor: auto;
}
.fc_drag_handle.fc_drag_handle_both {
	background: url(../images/move2.png) 0% 0% no-repeat transparent !important;
}
.fc_drag_handle.fc_drag_handle_uponly {
	background: url(../images/move2_uponly.png) 0% 0% no-repeat transparent !important;
}
.fc_drag_handle.fc_drag_handle_downonly {
	background: url(../images/move2_downonly.png) 0% 0% no-repeat transparent !important;
}

.fc_legend_box {
	font-weight: bottom;
	border-bottom: 1px dashed gray;
}

.key.tbl_group {
	text-align:center !important;
	color: darkgreen !important;
	border: 1px dashed #bbbbbb !important;
	font-size: 12px !important;
	padding: 6px !important;
}

.fc_small {
	font-size: 11px;
}

.fc_assoc_translation {
	display:inline-block;
	float:left;
	margin:1px 3px;
	text-decoration:none;
}


ul.thumbnails.image_picker_selector { clear: both; overflow:auto; margin:8px 0px 2px 0px!important; }
ul.thumbnails.image_picker_selector li {
	float:left !important; clear:none !important; margin:0px 4px 4px 0px !important;
}
ul.thumbnails.image_picker_selector li div.thumbnail {  float:left;  }
ul.thumbnails.image_picker_selector li div.thumbnail img {
	float: left; border:1px solid lightgray;
	padding:0px!important; margin:4px!important; 
}
ul.thumbnails.image_picker_selector li div.thumbnail p {
	float: left; clear:both;
	padding:0px!important; margin:0px!important;
}

.fckey_high { color:darkred !important; }
.container_fcfield { float:left!important; padding:0px!important;  margin: 2px 0% 3px 0%!important; width: 77%; }
.container_fcfield.fcfield_row0 {}
.container_fcfield.fcfield_row1 {}
.container_fcfield .fc_mini_note_box,
.customfields_set .fc_mini_note_box {margin: 0px 0px 6px 0px !important;}
.container_fcfield.fcdualline { width:auto !important; }
.container_fcfield_name_language { margin-top:8px !important; }
.container_fcfield .editlinktip img { margin:4px 0px -4px 0px !important; padding:0px !important; }


#flexicontent .fcclear.fcseparator {
	border-top: 1px dashed gray!important;
	visibility: visible !important;
	margin:12px 0px !important;
	float: left !important;
	width: 100% !important;
}

#flexicontent .fcclear,
#flexicontent .clear {
	border: 0px solid red !important;
	clear: both !important;
	float: none !important;
	font-size: 1px !important;
	height: 0 !important;
	line-height: 1px !important;
	margin: 0 !important;
	padding: 0 !important;
	visibility: hidden !important;
}

/* Styling for textinput fields*/
#flexicontent .fcfield_textareaval,
#flexicontent .fcfield_selectval,
#flexicontent .fcfield_selectmulval,
#flexicontent .fcfield_textval {
	background-clip: padding-box !important;
	background-color: #FFFFFF !important;
	background-image: -moz-linear-gradient(center bottom , #EEEEEE 0%, white 50%) !important;
	border: 1px solid #AAAAAA !important;
	border-radius: 4px 4px 4px 4px !important;
	color: #444444 !important;
	display: inline-block !important;
	padding: 0 0 0px 8px !important;
	margin: 0px 6px 2px 0 !important;
	position: relative !important;
	text-decoration: none !important;
	white-space: nowrap !important;
	font-size: 12px;
}

#flexicontent select.fcfield_selectval,
#flexicontent input.fcfield_textval {
	height: 26px !important;
	line-height: 26px !important;
	overflow: hidden !important;
	min-width:24%;
}
#flexicontent select.fcfield_selectval {
	padding: 4px 0 2px 4px !important;
}
#flexicontent select.fcfield_selectmulval,
#flexicontent textarea.fcfield_textareaval {
	line-height: 1em !important;
	overflow: auto !important;
	padding: 4px 0 2px 4px !important;
}

