@import url('flexi_form.css');
@import url('flexi_containers.css');
@import url('tabber.css');

/* FLEXIcontent base CSS */

/******************************************
 * Flexicontent General Utility CSS Classes
 ******************************************/
#flexicontent {}

.fcclear, .clear,
#flexicontent .fcclear, 
#flexicontent .clear {
	border: 0;
	clear: both;
	float: none;
	font-size: 1px;
	height: 0;
	line-height: 1px;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

#flexicontent .floattext:after { /* ie fix in conditional comments (html source) */
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#flexicontent .floattext {
	display: block;
	margin: 0 0 0.5em; /* safari */
}

#flexicontent .fcright { float:right; margin-left:8px; }
#flexicontent .fcleft { float:left; margin-right:8px; }
#flexicontent .fceven { background-color:#e7e7e7; }
#flexicontent .fcodd { background-color:#f2f2f2; }

.fc_mini_note_box {
	font-size: 11px;
	background-color: lightyellow;
	border: 1px solid lightgray;
	border-radius: 6px;
	width: auto;
	padding: 2px 2%;
	margin: 2px 8px;
}


/**********************************************************************
 * FLEXIcontent buttons for links: print, pdf, email, rss, approval etc
 **********************************************************************/
#flexicontent .buttons {
	display: block !important;
	float: right !important;
	margin: 0px !important;
	padding: 0px !important;
}

#flexicontent .buttons > a >img {
	border: none;
}

#flexicontent .buttons > a {
	height: 16px;
	line-height: 16px;
	padding: 0 0 0 5px;
}

/* Used for approval button and maybe for others */
.fc_bigbutton {
	padding: 2px !important;
	margin-right: 4px !important;
	border:1px outset gray !important;
	background: #e0e0e0 !important;
	text-align: center;
	display:block;
}

.fc_bigbutton:hover {
	border-style: inset !important;
	text-decoration: none;
}

.fc_comments_count {
	background: url(../images/comments.png) no-repeat !important; color: green;
	padding-left: 20px;
	height: 16px;
	margin: 5px 5px 0px 0px;
	float:left;
}
.fc_comments_count_nopad {
	background: url(../images/comments.png) no-repeat !important; color: green;
	padding-left: 20px;
	height: 16px;
	margin: 0px 5px 0px 0px;
	float:left;
}

.fc_edit_link {
	float:left;
	margin:5px 0px 0px 0px;
}
.fc_edit_link_nopad {
	float:left;
	margin: 0px 0px 0px 0px;
}

.fc_state_toggle_link {
	float:left;
	margin:5px 0px 0px 5px;
}
.fc_state_toggle_link_nopad {
	float:left;
	/*margin:5px 0px 0px 0px;*/
}



/**********************************
 * FLEXIcontent headlines and title
 **********************************/
#flexicontent h2 {
	margin: 0 0 0.5em;
}

#flexicontent h2 img {
	border: none;
}

#flexicontent .fc_item_title {
	text-decoration: none;
}



/*****************
 * Pagination CSS
 *****************
 * NOTE: WE AVOID setting styling here to allow Joomla templates to style the pagination area
 */
#flexicontent .pagination {
	text-align: center;
}

#flexicontent .pageslinks {
	text-align: center;
}

#flexicontent .pageslinks ul {
	text-align: center;
}

#flexicontent .pageslinks ul li a {
	text-decoration: none;
}

#flexicontent .pagescounter {
	text-align: center;
}



/****************************
 * FLEXIcontent category view
 ****************************/
#flexicontent .catimg {
	float: left;
	margin: 0 0.5em 0.5em 0;
	position: relative;
}

#flexicontent .catimg p {
	font-size: 0.9em;
	line-height: 180%;
	margin: 0 0 0.5em 0;
}

#flexicontent .catimg img {
	padding: 1px;
	border: 1px solid lightgray;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#flexicontent .catdescription {
	margin: 0 0 0.5em 0;
}

#flexicontent .subcategorieslabel {
	display:inline-block !important;
	margin:0px 0px 6px;
	font-weight:bold;
	border-bottom:1px dashed gray;
}

#flexicontent .subcategorieslist {
	margin: 0 0 1em 0;
}

#flexicontent .subcat {
	margin: 0px;
}



/*********************
 * FLEXIcontent Tables
 *********************/
#flexicontent table.flexitable {
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	clear: both;
	font-size: 1em;
	margin: 1em 1px;
	width: 99%;
}

#flexicontent table.flexitable th {
	background-color: #efefef;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	padding: 0.4em;
	text-align: left;
}

#flexicontent table.flexitable th.table-titles {
	background-color: inherit;
	font-weight: normal;
}

#flexicontent table.flexitable th img {
	border: none;
	margin: 0 0 5px 5px;
	vertical-align: middle;
}

#flexicontent table.flexitable td {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding: 0.4em;
	vertical-align: top;
}

#flexicontent table.flexitable tr.sectiontableentry2 td {
	background: #f4f4f4;
}

#flexicontent table.flexitable tr:hover td, 
#flexicontent table.flexitable tr:hover th {
	background: #f8f8f8;
}



/********************************************************************************************************
 * Frontend templates, FORM CSS for: SEARCH/FILTER/ALPHA-INDEX/SELECTORS(e.g. per page, orderby) FORM CSS
 ********************************************************************************************************/

/* Outer container of (a) text search, (b) field filters */
#flexicontent #fc_filter_box {
	display: block;
	clear: both;
	border: solid 0px #dddddd;
	margin: 0px 0px 12px 0px;
	padding: 0%;
	width: 100%;
}

/* Used for inner containers of (a) text search, (b) field filters */
fieldset.fc_filter_set {
	border: 1px solid #cccccc;
	margin: 0px;
	padding: 1%;
	width: 98%;
	min-width: inherit !important; /* workaround for chrome fieldset width bug */
	display: block;
}

/* Blocking overlay during form being applied and page reloading */
#fc_filter_form_blocker {
	display: none;
	z-index: 1000;
	
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}
#fc_filter_form_blocker .fc_blocker_opacity {
	display: block;
	z-index: 1000;
	
	position: absolute;
	top: 0;
	left: 0;
	
	opacity: 0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
	background-color: #000;
	
	width: 100%;
	height: 100%;
}
#fc_filter_form_blocker .fc_blocker_content {
	display: block;
	z-index: 1001;
	position: fixed;
	top: 200px;
	left: 40%;
	
	color: black;
	background: white url(../images/ajax-loader.gif) 30px 40px no-repeat;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	
	width: auto;
	padding: 40px 0px 46px 60px;
	margin: 0px;
	
	font-size: 12px;
	font-weight: bold;
	border: 1px solid lightgray;
	border-radius: 8px;
	text-align: left;
}

#fc_filter_form_blocker .fc_blocker_bar {
	display: block;
	width: 200px;
	height: 22px;
	border: 1px solid #111;
	background-color: #292929;
	position: relative;
	left: -30px;
	top:6px;
}

#fc_filter_form_blocker .fc_blocker_bar div {
	display: block;
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #0099ff;
}

.fc_filter_set legend {
	width: auto !important;
	border: 0px solid !important;
	padding: 0px !important;
	margin: 0px !important;
}
.fc_filter_set legend .fc_legend_text {
	background: transparent;
	border:1px solid lightgray !important;
	color:gray !important;
	display:block;
	margin:0 0 5px 0 !important;
	padding:8px 10px 8px 10px !important;
	border-radius: 6px !important;
	display: inline-block !important;
	line-height: 0.5em !important;
	position: relative !important;
	top: 0px !important;
}
.fc_filter_set legend .fc_legend_text.hasTip {
	background: lightyellow url(../images/note.gif) no-repeat 10px 50%;
	border:1px solid lightgray !important;
	color:gray !important;
	display:block;
	margin:0 0 5px 0 !important;
	padding-left: 36px !important;
	border-radius: 6px !important;
}
.fc_filter_set legend .fc_legend_text span {
	font-weight: bold !important;
	font-size: 12px !important;
	padding: 0px !important;
	margin: 0px !important;
	display: inline-block !important;
	line-height: 1em !important;
}

.fc_filter_set .fc-mssg.fc-info {
	margin: 4px 16px 16px 16px !important; font-size: 12px;
}
.ui-autocomplete-loading {
	background: #eee url('../images/ajax-loader.gif') no-repeat 96% center !important;
}



/*******************/
/* (a) TEXT SEARCH */
/*******************/
.fc_filter_text_search {}


/*********************/
/* (b) FIELD FILTERs */
/*********************/

/* displayed between ranges */
.fc_range {
	background: url("../images/arrow_double.png") no-repeat scroll 0px 0px transparent !important;
	width: 16px !important;
	height: 16px !important;
	border: 0px solid !important;
	padding: 0px !important;
	margin: 0px 0px 10px 0px !important;
	display: inline-block !important;
	vertical-align: bottom !important;
}

/* Container of each individual field filter (both label and html) */
.fc_filter,
.fc_filter_line {
	display: inline-block;
	float: left;
	white-space: normal;
	border: 1px solid lightgray;
	border-radius: 2px;
}
.fc_filter {
	clear: none;
	margin: 0px 6px 6px 0px;
	padding: 1px 0% 1px 0%;
	width: auto;
	position: relative;
}
.fc_filter_line {
	clear: both;
	margin: 0px 0% 2px 0%;
	padding: 4px 1%;
	width: 98%;
}
form > .fc_filter_line {  /* filters placed directly inside form aka outside the filter_box */
	margin: 0px 1% 0px 1%;
	width: 96%;
}

/* Container of each individual field filter LABEL */
.fc_filter .fc_filter_label,
.fc_filter_line .fc_filter_label {
	float: left !important;
	display: inline-block !important;
	color: white !important;
  background-color: darkorange !important;
  border-bottom: 1px solid #D0D0D0 !important;
  border-right: 1px solid #D0D0D0 !important;
  font-weight: normal !important;
  font-size: 12px !important;
  font-family: arial !important;
  text-align: right !important;
  border-radius: 6px !important;
}

.fc_filter .fc_filter_label {
	clear: both;
	width: auto !important;
	max-width: 150px !important;
	padding: 6px !important;
  margin: 2px 8px 3px 8px !important;
}
.fc_filter_line .fc_filter_label {
	clear: none;
	width: 15% !important;
	max-width: 200px !important;
	padding: 6px 1% !important;
	margin: 2px 1% !important;
	text-align:left !important;
}

.fc_filter.fc_even,
.fc_filter_line.fc_even { background: #E0E0E0 !important; display:block !important; }
.fc_filter.fc_odd,
.fc_filter_line.fc_odd { background: #EEEEEE !important; !important; display:block !important; }

/* Container of each individual field filter HTML, either compact view (floating with separator element) or per line */
.fc_filter .fc_filter_html,
.fc_filter_line .fc_filter_html {
	display: inline-block;
	float: left;
	font-size: 90%;
  padding: 0px 0% 0px 0% !important;
  margin: 0px 0% 0px 0% !important;
}
.fc_filter_html {  position: relative !important;  }
.fc_filter .fc_filter_html {  clear: both;  }
.fc_filter_line .fc_filter_html {  clear: none; width: 80% !important;  }

/* Clear filter label from filter html*/
.fc_filter_line.fc_clear_label .fc_filter_label {  width: auto !important; }
.fc_filter_line.fc_clear_label .fc_filter_html {  clear: both; width: 100% !important;  }

/* Highlight date calendar inside FC filters */
.fc_filter_html .calendar { vertical-align: bottom; margin: 0px 6px 9px 2px; cursor: pointer; }
.fc_filter_html .calendar:hover { border: 1px solid darkred; }

/* Mulitple form field elements inside a filter area */
.fc_filter_html .fc_filter_element { display:inline-block; white-space: nowrap; position: relative; }

/* The form element(s) of each field filter inside filter's HTML */
.fc_text_filter, .flexicontent .fc_text_filter,
.fc_field_filter, .flexicontent .fc_field_filter {
	color: black !important;
	font-size: 11px !important;
	font-weight: normal !important;
	display: inline-block;
	padding: 2px 0px 2px 4px !important;
	margin: 2px 0px 2px 4px !important;
	border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	width: auto !important;
}
.flexicontent input.fc_text_filter,
.flexicontent input.fc_field_filter,
input.fc_text_filter,  input.fc_text_filter:focus,
input.fc_field_filter, input.fc_field_filter:focus {
	height: 14px !important;
	padding: 6px 26px 7px 4px !important;
	margin: 3px 4px 4px 8px !important;
	position: relative;
	/* background: transparent; ... does not work properly with ie8/9, it causes: */
	/* any element with less z-index to be placed above this element, */
	/* e.g. the span element for showing an inner is placed above, thus preventing focusing of the input !! */
	border: 1px solid black !important;
	background: url(../images/magnifier-left.png) 96% 4px no-repeat white;
	opacity: 0.5; filter:alpha(opacity=50);
	min-width: 120px !important;
}
/* enlarge field in views ... (non-module) */
#flexicontent input.fc_text_filter,  #flexicontent input.fc_text_filter:focus,
#flexicontent input.fc_field_filter, #flexicontent input.fc_field_filter:focus {
	min-width: 180px !important;
}


form.fc_instant_filter { display: block; margin: 0px !important; padding: 0px !important; position: relative !important; }
select.fc_field_filter { margin: 2px 2px 2px 2px !important; }
input.fc_text_filter { vertical-align: top; }
input.fc_field_filter { vertical-align: top; }
span.fc_field_filter { border-width: 0px !important; }
ul.fc_field_filter.fc_checkradio_group {
	margin: 2px 0px 2px 2px !important;
	padding: 3px 4px 3px 2px !important;
	height: auto !important;
	max-height: auto !important;
	position: static !important;
	float: left !important;
	text-align: left !important;
}
ul.fc_field_filter.fc_checkradio_group label {
	margin: 6px 6px 4px 0px !important;
	display: inline-block;
}


/* Inner Labels */
.fc_has_inner_label, .fc_has_inner_prompt {
	color: gray !important;
	position: absolute !important;
	display: block;
	*line-height: 1.5em !important;  /* ie6/ie7 */
	*height: 1.5em !important;  /* ie6/ie7 */
	padding-left:4px;
	font-size:12px;
}

.fc_has_inner_label.fc_has_inner_label_input,
.fc_has_inner_prompt.fc_has_inner_prompt_input {
	left:14px !important; top:10px !important; color: black !important;
}
.fc_has_inner_label.fc_has_inner_label_select2,
.fc_has_inner_prompt.fc_has_inner_prompt_select2 {
	left:4px !important; top:8px !important;
	*top:4px !important; 
}

/* Highlighting selected choices */
.fc_filter_html .select2-search-choice div,
.select2-container .select2-choice.fc_highlight span,
.fc_highlight {
	color: darkorange !important;
	font-weight: bold !important;
}

.select2-container .select2-choice.fc_highlight_disabled span,
.fc_highlight_disabled {
	color: gray !important;
	font-weight: normal !important;
	text-decoration: line-through !important;
	font-style: italic !important;
}


/*******************/
/* (c) Alpha Index */
/*******************/

/* Top Container */
#fc_alpha {
	clear: both;
	float: left;
	margin: 0 0 12px 0;
	overflow: hidden;
	width: 100%;
}

/* A group of alpha-index character elements */
#fc_alpha .aichargrp {
	clear: both;
	float: left;
	left: 50%;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* Default groups of  alpha-index character elements */
#fc_alpha .letters, #fc_alpha .numbers {
}

/* An enabled individual alpha-index character element */
#fc_alpha .fc_alpha_index {
	background: #efefef;
	border: 1px solid #c0c0c0;
	float: left;
	margin-right: 2px;
	padding: 1px 2px;
	position: relative;
	right: 50%;
	text-decoration: none;
}

/* A disabled individual alpha-index character element */
#fc_alpha span.fc_alpha_index {
	color: #c0c0c0;
}

/* Seperator */
#fc_alpha .fc_alpha_index_sep {
	background: none;
	border: 0px solid silver;
	float: left;
	margin-right: 0px;
	padding: 1px 0px;
	position: relative;
	right: 50%;
	text-decoration: none;
}

/* The active (selected) individual alpha-index character element */
#fc_alpha .fc_alpha_index.current {
	margin-left:12px;
	margin-right:12px;
	color: darkred;
}



/*******************************************************/
/* (d) ITEMs TOTAL Container, also contains selectors: */
/* for (a) # pages per limit AND (b) items order by    */
/*******************************************************/

#flexicontent .item_total {
	border: 1px solid lightgray;
	margin: 0px 0px 12px 0px;
	padding: 1px 1%;
	width: 98%;
	clear: both;
	float: left;
}

#flexicontent .item_total .fc_item_total_data {
	display:inline-block;
	float:left;
	padding: 8px 0px;
	margin-right:24px;
}

#flexicontent .item_total .item_total_label {
	display: inline-block;
	float:left;
	margin-right: 6px;
	font-weight: bold;
}

#flexicontent .item_total .item_total_value {
	display: inline-block;
	float:left;
	margin-right: 24px;
}

/* Containers of per page limit selector and order by selector */
#flexicontent .item_total .fc_limit_label,
#flexicontent .item_total .fc_orderby_label {
	display:inline-block;
	float:left;
}

#flexicontent .item_total .fc_pages_counter {
	display:inline-block;
	float:right;
	padding:8px 4px;
}


/*****************************************************************************/
/* (e) Generic Display of Rendered Field Values, used e.g. by search results */
/*****************************************************************************/

#flexicontent .fc_field_container {
	display: block;
	white-space: nowrap;
	float: left;
}

#flexicontent .fc_field_label {
	float: left;
	border-bottom: 1px solid silver;
	color: #777;
	font-size: 90%;
	margin-right: 8px;
	display:block;
}

#flexicontent .fc_field_value {
	float: left;
}


/********************
 * Other CSS for Form
 ********************/

#flexicontent .flexi_label.fc_tooltip_icon_fe {
  padding:6px 3% 6px 1% !important;
  width: 14%;
  max-width:126px;
	background: url(../images/icon-16-hint.png) 99% 5px no-repeat #F6F6F6;
}


/****************
 * Access related
 ****************/
 
fieldset.flexiaccess legend {
	background: url(../../../../administrator/components/com_flexicontent/assets/images/toggle_blue.png) no-repeat 98% 50%;
	padding-right: 22px;
	line-height: 18px;
	cursor: pointer;
}

fieldset.flexiaccess {
	margin: 4px 0px 4px 0px!important;
	padding: 5px!important;
}



/*************************
 * FLEXIcontent rating bar
 *************************/

#flexicontent .qf_ratingbarcontainer {
	border: 1px solid #999999;
	display: block;
	height: 10px;
	margin: 2px 2px;
	width: 60px;
}

#flexicontent .qf_ratingbar {
	background-color: #c0c0c0;
	display: block;
	height: 10px;
}



/*************************
 * FLEXIcontent Favourites
 *************************/

.fav-block {
	clear: both;
}

.fav-block img {
	vertical-align: middle;
}

.favlink {
	outline: none;
}

.fcfav img {
}



/***********
 * JComments
 ***********/

div.comments {
	margin-top: 15px;
}

.comments #jc h4 {
	color: inherit;
	font-weight: normal;
	margin-top: 0px;
}

.comments #comments a {
	color: inherit;
}

.comments #comments a:hover {
	color: #578e13;
}

.comments #comments div.comments-list {
	margin-left: 0;
}

.comments .rbox_tr,
.comments .rbox_tl,
.comments .rbox_t,
.comments .rbox_br,
.comments .rbox_bl,
.comments .rbox_b,
.comments .rbox_m {
	background: none;
	border: none;
}

.comments .rbox {
	border: 1px #cccccc solid;
}

.comments .even .rbox {
	background: #ffffff;
}

.comments .odd .rbox {
	background: #f0f0f0;
}

.comments #comments-list-footer {
	margin: 0 0 10px 0;
}

#comments-form p, 
#comments-form #comments-form-buttons, 
#comments-form #comments-form-error {
	margin-left: 0px !important;
}

#comments-form #comments-form-message, 
#comments-inline-edit #comments-form-message {
	display: block;
	padding: 5px 5px 5px 25px;
}

.comments-form-message-error {
	background: url(../images/error.png) #ffd86f no-repeat 4px 50%;
}

.comments-form-message-info {
	background: url(../images/information.png) #dfeeff no-repeat 4px 50%;
}

.comments .votes {
	margin-left: -4px;
}

.comments .favs {
	margin: 5px 0 15px;
}



/*****************
 * Joomla Tabs CSS
 *****************/
dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs dt {
	background: #f0f0f0;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	color: #666666;
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
}

dl.tabs dt.open {
	background: #f9f9f9;
	border-bottom: 1px solid #f9f9f9;
	color: #000000;
	z-index: 100;
}

div.current {
	border: 1px solid #cccccc;
	clear: both;
	padding: 10px 10px;
}

div.current dd {
	margin: 0;
	padding: 0;
}

#bottom-block {
	margin: 0 auto;
	width: 373px;
}



/**************************************
 * File / image Field and other Plugins
 **************************************/

/* File field (item form) */
.icon-mime {
	vertical-align: middle;
}

/* strange property in japurity /-) */
#flexicontent .hasTip img {
	margin: 0;
}

/* Empty image container for image field (item form) */
.empty_image {
	display: block;
	background: #F9F9F9 url(../../../../administrator/components/com_flexicontent/assets/images/image_add.png) no-repeat scroll 50% 50%;
	border:1px solid silver;
	margin-bottom:3px;
}

/* Styling for image field (frontend FC templates) */
.fc_field_image {
	padding: 1px !important;
	border: 1px solid lightgray !important;
	border-radius:5px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
}

/* ADD button used by fields (item form) */
.button-add a {
	display: inline-block;
	padding: 1px 8px;
	border: 1px solid #ccc;
	background: #efefef;
}
.button-add a,
.button-add a:visited,
.button-add a:link,
.button-add a:hover {
	color: black;
	text-decoration: none;
}

/* Styling for image field tooltips (frontend FC templates) */
.fc_img_tooltip_title {
	line-height:1em;
	font-weight:bold;
}
.fc_img_tooltip_desc {
	line-height:1em;
}



/************************************
 * FLEXIcontent Advanced Search View
 ************************************/

/* Search view content header, float it left to allow placing print, etc buttons at the right */
.flexicontent.search  h2.contentheading {
	float: left;
	display: block;
}

/* search form */
#flexicontent form#searchForm {
	clear: both;
	float: none;
}

/* Container of TEXT search label */
.fc_search_label_cell {
	text-align:right;
	padding: 4px 6px 4px 4px;
	font-weight:bold;
	background-color:#eeeeee;
	font-size: 11px !important;
	font-family: tahoma;
	white-space: nowrap;
	width: 5%;
}

/* Container of TEXT search form field */
.fc_search_option_cell {
	padding: 4px 4px 4px 6px;
	font-size: 11px !important;
	font-family: tahoma;
}

/* Search Filter ROW */
.fc_search_row_0 td {
	background-color: #f0f0f0;
}

/* Search Filter CELL */
.fc_search_row_1 td {
	background-color: #e7e7e7;
}

/* CONTAINER of search (field) filters */
fieldset.fc_search_set {
	border: 1px solid #cccccc;
	margin: 0px 0px 12px 0px;
	padding: 1%;
	width: 98%;
	min-width: inherit !important; /* workaround for chrome fieldset width bug */
	display: block;
}

/* TITLE of CONTAINER of search (field) filters */
fieldset.fc_search_set legend {
	margin-left: 6px;
	padding-left: 4px;
}

/* Search (field) filters TABLE */
table.fc_search_tbl {
	border-collapse: separate !important;
	border-spacing: 1px !important;
	width: 100% !important;
}

/* Search (field) filters CELLs */
table.fc_search_tbl td {
	border-width: 0px !important;
	border-spacing: 1px !important;
}

/* CONTAINER of form fields related Search View BEHAVIOR */
fieldset#fc_search_set_search_behavior legend {
}

div.flexicontent.fcsearch .inputbox {
	border: 1px solid lightgray;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2px;
	height: auto;
}

div.flexicontent.fcsearch  fieldset.fc_search_result {
	padding: 16px 4px 16px 4px;
	margin: 0px;
	border: 1px solid transparent;
}

div.flexicontent.fcsearch  fieldset.fc_search_result.fcodd {
	background-color: #f0f0f0;
}

div.flexicontent.fcsearch  fieldset.fc_search_result.fceven {
	background-color: #f7f7f7;
}

div.flexicontent.fcsearch  fieldset.fc_search_result:hover {
	border: 1px dashed gray;
}

div.flexicontent.fcsearch  .fc_search_result_title {
	float: left;
}
div.flexicontent.fcsearch  .fc_search_result_text {
}
div.flexicontent.fcsearch  .fc_search_result_image { display: inline-block; }
div.flexicontent.fcsearch  .fc_search_result_image.fcleft { float: left; margin: 0px 16px 0px 8px; }
div.flexicontent.fcsearch  .fc_search_result_image.fcright { float: right; margin: 0px 8px 0px 16px; }
div.flexicontent.fcsearch  .fc_search_result_image img { padding:1px; border:1px solid #aaaaaa; border-radius: 4px; }
div.flexicontent.fcsearch  .fc_search_result_filters {
}
div.flexicontent.fcsearch  .fc_search_result_fields {
}
div#flexicontent.flexicontent.fcsearch  .highlight {
	background: none repeat scroll 0 0 #FFFFAA;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: darkred;
	font-weight: normal;
	padding: 3px 5px;
}
div#flexicontent.flexicontent.fcsearch  .fc_mublock {
	display: block;
	float: right;
}


/************************************************************************
 * Frontend templates: Some CSS HACKS/RULES (to fix alignment & wrapping)
 ************************************************************************/

#flexicontent .fc_inline_block {
	*display: inline !important; /* Hack for IE 7 and less */
	_height: 1%; /* Hack for IE6 */
	display: inline-block !important; /* For modern browsers */
	float: none !important;
	vertical-align: top; /* Just makes sure everything is at the top */
	width: auto !important;
	zoom: 1; /* Hack for IE */
}

#flexicontent .fc_block {
	display: block !important;
}

#flexicontent .fc_inline {
	display: inline !important;
}

#flexicontent .fc_inline_clear {
	display: inline!important;
}

#flexicontent .fc_inline_clear:after {
	content: "\a";
	white-space: pre-wrap;
}

#flexicontent .fc_clearfix {
	clear: both;
}



/****************************
 * ITEM FORM: Some CSS rules
 ****************************/

table.admintable {
	border-collapse:separate !important;
	border-spacing:2px;
}

table.admintable td.key, 
table.admintable td.paramlist_key {
	background-color: #E6E6E6;
	border:1px solid #F0F0F0;
	color: #666666;
	font-weight:normal;
	text-align:right;
}
table.admintable td {
	border:1px solid #F0F0F0;
	font-weight: normal;
	text-align: left;
	padding: 6px 4px 6px 4px;
}

/* CONTAINER of message for item having default content template layout */
#__content_type_default_layout__ {
	margin: 12px 4px 4px 32px;
	padding:0px;
}



/****************
 * Directory view
 ****************/

#flexicontent.fcdirectory .fccatcolumn {
	float: left;
	margin: 0% 1% 0% 0% !important;
	padding: 0px !important;
}

#flexicontent.fcdirectory h2.fccat_title_box {
	background-color: #dddddd;
	border: 1px solid #ffffff;
	color: #ffffff;
	margin: -3px 0 0;
	padding: 1px 0;
	width: auto;
}

#flexicontent.fcdirectory .fccat_title {
	border: 2px solid #dddddd;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 -1px;
	padding: 2px 0 1px 4px;
	position: relative;
}

#flexicontent.fcdirectory span.fccat_title {
	color: darkred;
}

#flexicontent.fcdirectory .fccat_title:hover {
	text-decoration: none;
}

#flexicontent.fcdirectory .fccat_assigned {
}

#flexicontent.fcdirectory .fccat_image {
	border: 1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	margin: 2px 6px 1px 0px;
	padding: 1px;
}

#flexicontent.fcdirectory .fccat_descr {
}

#flexicontent.fcdirectory ul.fcsubcats_list {
	border-top: 1px dashed #dddddd !important;
	list-style: none;
	margin: 3px 0 7px;
	padding: 0 7px;
}

#flexicontent.fcdirectory li.fcsubcat {
	border-bottom: 1px dashed #dddddd !important;
	margin: 2px 0px 2px 0px !important;
}

#flexicontent.fcdirectory li.fcsubcat.odd {
}

#flexicontent.fcdirectory li.fcsubcat.even {
}

#flexicontent.fcdirectory a.fcsubcat_title {
}

#flexicontent.fcdirectory a.fcsubcat_title:hover {
	text-decoration: none;
}

#flexicontent.fcdirectory .fcsubcat_assigned {
}

#flexicontent.fcdirectory .fcsubcat_image {
	border: 1px solid #dddddd;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	margin: 2px 6px 1px 0px;
	padding: 1px;
}

#flexicontent.fcdirectory .fcsubcat_descr {
}



/********************************
 * ITEM FORM: CSS FIXES for J1.6+
 ********************************/

/* PANELs */
#flexicontent .pane-sliders .pane-toggler span {
    background: url("../../../../administrator/templates/bluestork/images/j_arrow.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}
#flexicontent .pane-sliders .pane-toggler-down span {
    background: url("../../../../administrator/templates/bluestork/images/j_arrow_down.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}


/* FIELDs */
#flexicontent fieldset.adminform fieldset.radio,
#flexicontent fieldset.panelform fieldset.radio,
#flexicontent fieldset.adminform-legacy fieldset.radio {
	border: 0 none;
	float: left;
	margin: 2px 0px 5px 2px;
	padding: 0;
}

#flexicontent .pane-sliders .panel .pane-slider fieldset.panelform select {
	min-width: 200px;
	font-size: 90%;
}

/* Field containing TABLE */
#flexicontent table.admintable td {
	margin: 0px;
	padding: 0.2em 0.4em;
}

#flexicontent table.admintable table td {
	margin: 0px;
	padding: 0px;
}

#flexicontent table.admintable td.paramlist_key {
	padding: 0px 4px 0px 4px;
}



/************************************************
 * TAB appearance customizations per content Type
 ************************************************/
 
/*#flexicontent.fctypeNN*/ #fc_subtitle_tabset ul.tabbernav li a {  padding-left: 20px;  }
/*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_1, /*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_2, /*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_3,
/*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_4, /*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_5, /*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_6,
/*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_7, /*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_8, /*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_9,
/*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_10, /*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_11, /*#flexicontent.fctypeNN*/ a#fc_subtitle_tabset_nav_12 {
	background-image: url(../images/information.png) !important;
	background-position: 1px 2px !important;
	background-repeat: no-repeat !important;
	padding-left: 20px !important;
}

/*#flexicontent.fctypeNN*/ #fc_bottom_tabset ul.tabbernav li a {  padding-left: 20px;  }
/*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_1, /*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_2, /*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_3,
/*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_4, /*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_5, /*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_6,
/*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_7, /*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_8, /*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_9,
/*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_10, /*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_11, /*#flexicontent.fctypeNN*/ a#fc_bottom_tabset_nav_12 {
	background-image: url(../images/information.png) !important;
	background-position: 1px 2px !important;
	background-repeat: no-repeat !important;
	padding-left: 20px !important;
}


/*************************************
 * FLEXIcontent radio/checkbox buttons
 *************************************/

.flexi_radiotab {
	display: inline-block !important;
	padding: 4px 6px !important;
	margin: 2px 0px 2px 4px !important;
	border-radius:5px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border: 1px solid #cccccc !important;
	text-decoration: none !important;
	font-weight: normal !important;
	font-size: 12px !important;
	cursor: pointer !important;
	float: left !important;
	white-space:nowrap !important;
	background-color: white !important;
	color: black !important;
}

/* Highlighting selected choice(s) */
.flexi_radiotab.highlight {
	color: darkorange !important;
	font-weight: bold !important;
}

.flexi_radiotab input {
	float: left !important;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	/*display:none !important;*/
}

.flexi_radiotab.fcdisabled {
	color: #bbbbbb !important;
}

/***************************
 * Other unsorted CSS Rules
 ***************************/

div.fancybox-wrap a { background: none!important;}

#flexicontent .content {
	float:none;
	clear:both;
}

/* field container inside a tabbed position */
.tabbertab  .flexi.element {
 /*display: block;
 float: left;
 clear: both;*/
}


#flexicontent .rc5 {
	border-radius:5px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
}


.fc_field_unsused_val {
 text-decoration: line-through;
}

.fc_field_unsused_val img {
 opacity:0.4;
 filter:alpha(opacity=40); /* For IE8 and earlier */
}

.readon, .readon a {
  *white-space: nowrap !important; /* ie6/ie7 */
}


/**********************************************************
 * Common styling (all templates) of field labels and value
 **********************************************************/

#flexicontent .label {
	font-weight: bold;
}

#flexicontent .flexi.label, .flexi.label {
	float: left !important;
  /*width: 16% !important;*/
	display: block !important;
	color: #606060 !important;
  background-color: #F2F2F2 !important;
  border-bottom: 1px solid #D0D0D0 !important;
  border-right: 1px solid #D0D0D0 !important;
  font-style: italic !important;
  font-size: 12px !important;
  font-family: arial !important;
  font-weight: normal !important;
  text-align: right !important;
  max-width: 120px !important;
  min-width: auto !important;
  margin: 2px 6px 2px 2px !important;
  padding: 3px 3px 3px 3px !important;
  border-radius: 6px !important;
  text-shadow: 0 0 !important;
}

#flexicontent .flexi.value, .flexi.value {
	/*float: left !important;*/
	/*width: 79%;*/
	padding: 0px !important;
	margin: 3px 0% 3px 0% !important;
}


/********************************
 * Content / Content List Markups
 ********************************/

#flexicontent .fc_mublock {
	display:block;
	float:left;
	clear:both;
	margin-bottom:6px;
}

#flexicontent .fc_markup {
	float: right !important;
	display: block !important;
  background-color: #F2F2F2 !important;
  border-width: 0px!important;
  font-style: normal !important;
  font-size: 11px !important;
  font-family: arial !important;
  font-weight: bold !important;
  text-align: right !important;
  max-width: 150px !important;
  min-width: auto !important;
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 6px !important;
}

#flexicontent .fc_markup.mu_has_text {
  border-bottom: 1px solid #D0D0D0 !important;
  border-right: 1px solid #D0D0D0 !important;
  margin: 2px 2px 2px 12px !important;
  padding: 5px 3px 5px 3px !important;
}

#flexicontent .fc_markup.mu_featured_cat.mu_has_text {
	padding-left: 24px !important;
	background: url(../images/star.png) 4px 50% no-repeat transparent;
	color: #333333 !important;
}

#flexicontent .fc_markup.mu_normal_cat.mu_has_text {
	padding-left: 24px !important;
	background: url(../images/star-empty.png) 4px 50% no-repeat transparent;
	color: #777777 !important;
}

#flexicontent .fc_markup.mu_item_no_access.mu_has_text {
	padding-left: 24px !important;
	background: url(../images/eye-half.png) 4px 50% no-repeat transparent;
	background-color: #FFD700 !important;
	color: white !important;
}

#flexicontent .fc_markup.mu_item_free_access.mu_has_text {
	padding-left: 24px !important;
	background: url(../images/eye.png) 4px 50% no-repeat transparent;
	color: darkorange !important;
}

#flexicontent .fc_markup.mu_needed_acclvl.mu_has_text {
	padding-left: 24px !important;
	background: url(../images/lock.png) 4px 50% no-repeat transparent !important; !important;
	background-color: darkred !important;
	color: white !important;
}

#flexicontent .fc_markup.mu_obtained_acclvl.mu_has_text {
	padding-left: 24px !important;
	background: url(../images/lock-unlock.png) 4px 50% no-repeat transparent !important;
	background-color: darkgreen !important;
	color: white !important;
}

#flexicontent .fc_markup.mu_ra_timeframe.mu_has_text {
	padding-left: 24px !important;
	background: url(../images/calendar-select-days-span.png) 4px 50% no-repeat transparent;
	color: darkorange !important;
}

