/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .fctabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.fctabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 10px 2px 0px 2px;
 display: inline-block;
 white-space: nowrap;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
 font-size: 11px;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2.tabberheading {
 display:none !important;
}
.tabberlive .tabbertab h3.tabberheading {
 display:none !important;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}


/***********************************************
 * Rules for basic tabbing in flexicontent views
 ***********************************************/
 
#flexicontent .tabberlive {
	margin: 0px 0px 6px 0px !important;
	padding: 0px !important;
	width: 100% !important;
	float: left;
	border-width: 0px;
}

#flexicontent .tabbertab {
	margin: 0px !important;
	padding: 5px 3px 3px 5px !important;
	width: 99% !important;
	float: left;
}

#flexicontent .fctabber { overflow:visible; width:5000px; }

#flexicontent ul.tabbernav {
	line-height: 100% !important;
	border-bottom: 1px solid #808080 !important;
	font: bold 11px Verdana,sans-serif !important;
	margin: 0 !important;
	padding: 0px 6px 0px 4px !important;
	width: 99% !important;
	display: inline-block !important;
}

#flexicontent ul.tabbernav li {
	line-height: 100% !important;
	padding: 0px !important;
	margin: 4px 0px -1px 8px !important;
	overflow: visible !important;
	display: inline-block !important;
	float:left;
}

#flexicontent ul.tabbernav li a {
	line-height: 160% !important;
	font-size: 11px !important;
	margin: 0px !important;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px !important;
	padding-bottom: 5px !important;
	display: inline-block !important;
	border-radius: 8px 8px 0px 0px !important;
	/*box-shadow: 0px -1px 1px lightgray;*/
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

#flexicontent ul.tabbernav li a {
	background: none repeat scroll 0 0 #AAAAEE;
	/*border-color: #222277;*/
	color: #000000;
}

#flexicontent ul.tabbernav li:hover a {
	background: none repeat scroll 0 0 #aa0000;
	border-left: 1px solid #aa5555;
	border-top: 1px solid #995555;
	border-right: 1px solid #775555;
	color: white;
}

#flexicontent ul.tabbernav li.tabberactive a,
#flexicontent ul.tabbernav li.tabberactive a:hover
{
	color: black !important;
	background-color: white !important;
	border-bottom: 1px solid white !important;
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
}
