/* Faq Theme : category template CSS file */

#flexicontent .flexi.label,
#flexicontent .flexi.value
{
	display:block;
	float:left;
	max-width: 100% !important;  /* Allow responsive width while floating */
	padding: 0% !important;  /* Allow responsive width while floating */
}

#flexicontent ul.faqblock {
	margin: 0;
	padding: 0;
}

#flexicontent ul.faqblock li {
	margin: 0px 0px 8px 0px;
	padding: 0;
	background: none;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	_height: 10px;
	line-height: inherit;
}

#flexicontent ul.faqblock.two   li.full,
#flexicontent ul.faqblock.three li.full,
#flexicontent ul.faqblock.four  li.full {
	width: 100%;
}

#flexicontent ul.faqblock.one li {
	width: 100%;
}

#flexicontent ul.faqblock.two li {
	width: 48%;
}
#flexicontent ul.faqblock.two li.even {
	margin-left: 3%
}
#flexicontent ul.faqblock.three li {
   width: 30%;
}
#flexicontent ul.faqblock.three li.even {
   margin-left: 1%
}
#flexicontent ul.faqblock.four li {
   width: 23%;
}
#flexicontent ul.faqblock.four li.even {
   margin-left: 1%
}

#flexicontent .flexi-cat span.fc_cat_title {
	font-weight: bold;
	font-size: 20px;
}

#flexicontent .flexi-cat a.fc_cat_title, #flexicontent .flexi-cat a.fc_cat_title:hover {
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

#flexicontent .flexi-cat {
	background-color: #F1F1F1;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	display: block !important;
	padding: 4px 2% 0px 2% !important;
	float: left !important;
	width: 96% !important;
	margin:8px 8px 0px 0px;
	color: black;
}

#flexicontent .flexi-cat:hover, .flexi-cat:focus {
	background-color: #D6D6D6;
	border-color: #BBBBBB;
	text-decoration: none;
}

#flexicontent ul.flexi-fieldlist li.flexi-field.flexi-title {
	background: url(../../../assets/images/readon.gif) no-repeat;
}

#flexicontent ul.flexi-itemlist,
#flexicontent ul.flexi-fieldlist {
	margin: 1px;
	padding: 0;
}

#flexicontent ul.flexi-itemlist li.flexi-item {
	margin: 0;
	padding: 0;
	background: none;
	width: 100%;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	_height: 10px;
	line-height: inherit;

}

#flexicontent ul.flexi-fieldlist li.flexi-field {
	margin: 0;
	padding:0px 0px 0px 16px;
	background: none;
	width: 100%;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	_height: 10px;
	line-height: inherit;

}

/* =============================================
   Bootstrap adjustments
============================================= */
#fc_alpha .btn.fc_alpha_index,
#fc_alpha .btn.fc_alpha_index_sep {
	margin-top:0;
	margin-bottom:0;
}

/* ===============================================
   "micro" clearfix 
   http://nicolasgallagher.com/micro-clearfix-hack/
   =============================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.group:before,
.group:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.group:after {
	clear: both;
}

/**
 * Include this rule to trigger hasLayout and contain floats.
 */
.group {
	/* for IE 6/7 */
	*zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
	/* non-JS fallback */
	*zoom: 1;
}