
/* MODULE STYLING EXTERNAL CONTAINER */
.mod_flexicontent_wrapper {
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}

/* ITEM (AND OTHER DATA) SEPARATOR */
.mod_flexicontent_wrapper .modclear {
	display:block;  float:none;  clear:both;
	width:100%;  overflow:hidden;  height:4px;  line-height:0px;
	border-width:0px;  margin:0px;
}

/* ORDERING GROUPs SEPERATOR */
.mod_flexicontent_wrapper ordering_seperator {
	display:block;  float:none;  clear:both;
	width:100%;  overflow:hidden;  height:0px;  line-height:0px;
	border-width:1px 0px 0px 0px;  border:dashed #dddddd;  margin:8px 12px 12px 8px;
}

/* ORDERING GROUPs TITLE */
.mod_flexicontent_wrapper .order_group_title {
	display:block; float:none; clear:both;
	width:56%; margin: 4px 20%;
	border:dashed gray;	border-width:2px;
	color:darkred; font-weight:bold;
	text-align:center; text-transform:uppercase;
}



/* THE (OPTIONAL) CURRENT CATEGORY INFORMATION */
.mod_flexicontent_wrapper .catdata {   /* external container */
	border-bottom: 1px dashed darkgray;
	margin: 0px 0px 6px 0px;
}

.mod_flexicontent_wrapper .catdata .cattitle {  /* the category title */
	padding:1px 16px 1px 16px;  margin:2px 0px 8px 0px;  border:1px dashed #bbbbbb;
	background-color:#dddddd; color:black;
	font-size:12px;  font-weight:bold;  text-align:left;
}
.mod_flexicontent_wrapper .catdata .cattitle:hover {  /* the category title hover */
	border: 1px dashed #444444;
}
.mod_flexicontent_wrapper .catdata .cattitle a.cattitle_link {  /* the link to category title */
	background-color: transparent; color: black;
	text-decoration:none;
}
.mod_flexicontent_wrapper .catdata .cattitle:hover a.cattitle_link,
.mod_flexicontent_wrapper .catdata .cattitle a.cattitle_link:hover {  /* the link to category title on mouse over */
	background-color: transparent;  color: darkred;
	text-decoration: none;
}

.mod_flexicontent_wrapper .catdata .catimage {  /* the category image container */
	float: left;
	margin: 0 5px 5px 0;
}
.mod_flexicontent_wrapper .catdata .catimage img.catimage_thumb {  /* the category image */
  padding:1px; border:1px solid #dddddd;  
}

.mod_flexicontent_wrapper .catdata .catdescr {  /* the category description */
	font-size: 11px;
	font-weight: normal;
	text-align: justify;
}



/* THE (OPTIONAL) LINK AT THE BOTTOM OF MODULE */
.mod_flexicontent_wrapper .cat_readon,
.mod_flexicontent_wrapper .module_readon {  /* style of external container of link */
	font-size: 12px;
	float:left;
	font-weight:normal;
	
	background: url("../tmpl/news/images/readmore.png") transparent no-repeat scroll 0px 2px;
	border:solid gray;
	border-width:0px 0px;
	padding: 1px 6px 1px 20px;
	margin: 0px 0px 3px 4px;
}

.mod_flexicontent_wrapper .cat_readon:hover,
.mod_flexicontent_wrapper .module_readon:hover { /* style of external container of link */
	background: url("../tmpl/news/images/readmore.png") lightgray no-repeat scroll 0px 1px;
	border: solid gray;
	border-width:1px 0px;
	padding: 0px 6px 0px 20px;
	margin: 0px 0px 3px 4px;
}

.mod_flexicontent_wrapper .cat_readon a.readon,
.mod_flexicontent_wrapper .cat_readon a.readon span {  /* style of link */
	padding: 0px;
	background:none;
	text-decoration: none!important;
	color: darkgreen;
	cursor:pointer;
}

.mod_flexicontent_wrapper .cat_readon:hover a.readon,
.mod_flexicontent_wrapper .cat_readon:hover a.readon span { /* style of link when hovering external container */
	padding: 0px;
	background:none;
	text-decoration: none!important;
	color: darkgreen;
}

.mod_flexicontent_wrapper .module_readon a.readon,
.mod_flexicontent_wrapper .module_readon a.readon span {  /* style of link */
	padding: 0px;
	background:none;
	text-decoration: none!important;
	color: darkblue;
	cursor:pointer;
}

.mod_flexicontent_wrapper .module_readon:hover a.readon,
.mod_flexicontent_wrapper .module_readon:hover a.readon span { /* style of link when hovering external container */
	padding: 0px;
	background:none;
	text-decoration: none!important;
	color: darkblue;
}

/* fav_list*/
.mod_flexicontent_wrapper .news_favs_head { /* for label and value (contained inside) see more below */
	font-size:12px;
	border: 1px dashed gray;
	font-weight: bold;
	text-align: center;
}

.mod_flexicontent_wrapper ul#mod_fc_favlist {
	left: 0;
	list-style: none outside none !important;
	position: relative !important;
	text-align: left !important;
}

.mod_flexicontent_wrapper ul#mod_fc_favlist > li {
	padding: 0 !important;
	margin: 0px 0px 0px 8px !important;
}

.mod_flexicontent_wrapper #mod_fc_favlist a {
	background: none !important;
	color: blue !important;
	text-decoration: none !important;
	text-transform: none !important;
	padding: 0 !important;
	margin: 0px 2px !important;
	font-weight: bold !important;
}

.mod_flexicontent_wrapper #mod_fc_favlist a:hover {
	background: none !important;
	color: darkred !important;
	text-decoration: none !important;
	font-weight: bold !important;
}


/*******************/
/* CSS HACKS START */
/*******************/
.mod_flexicontent_wrapper .fc_inline_block {
	float: none !important;
	width: auto !important;
  display:inline-block !important; /* For modern browsers */
  *display:inline !important; /* Hack for IE 7 and less */
  zoom:1; /* Hack for IE */
  _height:1%; /* Hack for IE6 */
  vertical-align:top; /* Just makes sure everything is at the top */
}
.mod_flexicontent_wrapper .fc_block { display: block !important; }
.mod_flexicontent_wrapper .fc_inline { display: inline !important; }
.mod_flexicontent_wrapper .fc_inline_clear { display:inline!important; }
.mod_flexicontent_wrapper .fc_inline_clear:after { content:"\a";  white-space: pre-wrap; }
.mod_flexicontent_wrapper .fc_clearfix { clear: both; }
/*****************/
/* CSS HACKS END */
/*****************/