
/**************/
/* BOF Colors */
/**************/

/* Suffixe -green : green borders and links */
.carousel.mod_flexicontent_wrap-green .mod_flexicontent_featured_wrapper,
.carousel.mod_flexicontent_wrap-green .mod_flexicontent_standard_wrapper {
	border-color: darkgreen!important;
	border-width:1px 0px;
}
.carousel.mod_flexicontent_wrap-green a {
	color: darkgreen!important;
}

/* Suffixe -red : red borders and links */
.carousel.mod_flexicontent_wrap-red .mod_flexicontent_featured_wrapper,
.carousel.mod_flexicontent_wrap-red .mod_flexicontent_standard_wrapper {
	border-color: darkred!important;
	border-width:1px 0px;
}
.carousel.mod_flexicontent_wrap-red a {
	color: darkred!important;
}

/* Suffixe -orange : orange borders and links */
.carousel.mod_flexicontent_wrap-orange .mod_flexicontent_featured_wrapper,
.carousel.mod_flexicontent_wrap-orange .mod_flexicontent_standard_wrapper {
	border-color: darkorange!important;
	border-width:1px 0px;
}
.carousel.mod_flexicontent_wrap-orange a {
	color: darkorange!important;
}

/**************/
/* EOF Colors */
/**************/

.carousel.mod_flexicontent_wrapper .mod_fc_carousel {
	position: relative;
	top: 0;
	left: 0;
	width: 98%;
	margin: 0 1%;
}

.carousel.mod_flexicontent_wrapper span.mod_fc_nav {
	background: url("images/nav.png") no-repeat scroll -20% 50% #000000 !important;
	border-radius: 10px 0 0 10px !important;
	cursor: pointer !important;
	height: 100% !important;
	left: 0 !important;
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important;
	outline: medium none !important;
	position: absolute !important;
	text-indent: -9000px !important;
	top: 0;
	width: 28px;
}
.carousel.mod_flexicontent_wrapper span.mod_fc_nav.fc_next {
	background-position: 115% 50% !important;
	border-radius: 0 10px 10px 0 !important;
	left: auto !important;
	right: 0 !important;
}
.carousel.mod_flexicontent_wrapper span.mod_fc_nav:hover {
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important;
	background-color: darkred !important;
}



/* CONTAINER OF EACH ORDERING GROUP */
.carousel.mod_flexicontent_wrapper .mod_flexicontent {
	width:100%;
	margin:0px!important;
	padding:0px!important;
	float:left;
	clear:both;
}


/* EXTERNAL ITEM CONTAINER (ONE COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper {
	float: left;
	width: 96%;
	margin-left:1%;
	margin-right:0%;
	padding: 1%;
	float: left;
	margin-bottom:4px;
	border-radius:0px;
	border: 1px solid;
	border-color: #e0e0e0 #a0a0a0 #a0a0a0 #e0e0e0;
	background-color: #f9f9f9;
}

/* EXTERNAL ITEM CONTAINER (TWO COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent.twocol .mod_flexicontent_standard_wrapper {
	width:46%!important;
	margin-left:1%!important;
	margin-right:1%!important;
	padding: 1%!important;
}


/* EXTERNAL CONTAINER STYLING ODD EVEN (COUNTING) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.odd,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.odd {
	background-color: #efefef;
}
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.even,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.even {
	background-color: #f9f9f9;
}

.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper:hover,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper:hover {
	border-color: #888 !important;
}


/* INTERNAL ITEM CONTAINER (ONE COLUMN MODE) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent_featured,
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard {
	margin-top:0px!important;
	margin-bottom:0px!important;
	margin-left: 0%!important;
	margin-right: 0%!important;
	
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left: 0%!important;
	padding-right: 0%!important;
	
	float:left;
	width:100%;
	display:block;
	position:relative;
	top:0px;
	left:0px;
}

/* INTERNAL ITEM CONTAINER (TWO COLUMN MODE for standard items) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent.twocol .mod_flexicontent_standard {
	/*background: url('images/vdot.gif') repeat-y 50% 0;*/
}



/*********************************************************************************************/
/* ITEM BASIC FIELDS STYLES (FOR CUSTOM FIELDS see below, FOR IMAGE AND DATE see more below) */
/*********************************************************************************************/

.carousel.mod_flexicontent_wrapper .content {}           /* container of basic elements of standard items excluding title & image */
.carousel.mod_flexicontent_wrapper .content_featured {}  /* container of basic elements of featured items excluding title & image */


/* CONTAINER of item title */
.carousel.mod_flexicontent_wrapper .fcitem_title {
	padding:1px 4px 1px 4px;  margin: 2px 0px 2px 0px;
	/*border: 1px dashed #bbbbbb;*/
	font-size: 110%;  font-weight:bold;	text-align:left;
}
.carousel.mod_flexicontent_wrapper .fcitem_title:hover {
	/*border: 1px dashed black;*/
}

/* item title styling (link, etc) */
.carousel.mod_flexicontent_wrapper .fcitem_title a {
	background-color: transparent; color: #555555;
	text-decoration:none;
}
.carousel.mod_flexicontent_wrapper .fcitem_title:hover a,
.carousel.mod_flexicontent_wrapper .fcitem_title a:hover {
	background-color: transparent;  color: darkred;
	text-decoration: none;
}


/* CONTAINER of item date */
.carousel.mod_flexicontent_wrapper .fcitem_date { /* for label and value (contained inside) see more below */
	background: url("images/date.png") no-repeat scroll 0px 1px;
	font-size:12px;
	padding:2px 6px 2px 20px;
}

/* item date styling (label, value, etc) */
.carousel.mod_flexicontent_wrapper .date_label,
.carousel.mod_flexicontent_wrapper .date_label_feat {
	display:inline;
	color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.carousel.mod_flexicontent_wrapper .date_value,
.carousel.mod_flexicontent_wrapper .date_value_feat {
	display:inline;
	color: black;
  font-weight: normal;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}


/* CONTAINER of item description */
.carousel.mod_flexicontent_wrapper .fcitem_text { /* for image (not contained inside) see more below */
	text-align:justify;
	margin:0px; padding:0px;
}


/* CONTAINER of item image (featured and standard) */
.carousel.mod_flexicontent_wrapper .image_featured,
.carousel.mod_flexicontent_wrapper .image_standard {
	float: left;
	margin: 0 5px 5px 0;
}

/* item image styling (link, image, etc) */
.carousel.mod_flexicontent_wrapper .image_featured a:hover,
.carousel.mod_flexicontent_wrapper .image_standard a:hover {
  text-decoration: none;
}
.carousel.mod_flexicontent_wrapper .image_featured img,
.carousel.mod_flexicontent_wrapper .image_standard img {
  padding:1px; border:1px solid #cccccc;  
}
.carousel.mod_flexicontent_wrapper .image_standard a:hover img,
.carousel.mod_flexicontent_wrapper .image_featured a:hover img {
  border:1px solid #444444;
}


/* CONTAINER of item hits, voting, comments */
.carousel.mod_flexicontent_wrapper .fcitem_hits { padding: 2px 0px 1px 0px; display: inline-block !important; }
.carousel.mod_flexicontent_wrapper .fcitem_voting { padding: 0px 0px 2px 0px; display: inline-block !important; }
.carousel.mod_flexicontent_wrapper .fcitem_comments{ padding: 2px 0px 1px 0px; display: inline-block !important; }

.carousel.mod_flexicontent_wrapper .fcitem_hits img,
.carousel.mod_flexicontent_wrapper .fcitem_comments img {
	float:left;
	margin:0px 4px 0px 0px;
}

.carousel.mod_flexicontent_wrapper .hits_label,
.carousel.mod_flexicontent_wrapper .voting_label, 
.carousel.mod_flexicontent_wrapper .comments_label {
	display:inline;
	color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* force voting to display in same row as label */
.carousel.mod_flexicontent_wrapper .voting_value .voting {
	display: inline-block;
}


/* CONTAINER of other item fields */
.carousel.mod_flexicontent_wrapper .fcitem_fields {
}

/* other item fields styling (label, value, etc) */
.carousel.mod_flexicontent_wrapper .field_label {
	font-weight: bold;
	display:block;
	float:left;
	clear:left;
	margin-right:8px;
	border-bottom: 1px dashed silver;
	text-align: left;
}
.carousel.mod_flexicontent_wrapper .field_value {
	font-weight: normal;
	display:block;
	float:left;
	text-align: left;
}


/* CONTAINER of item read more */
.carousel.mod_flexicontent_wrapper .fcitem_readon {
	float:left;
	background: url("images/readmore.png") transparent no-repeat scroll 0px 2px;
	border:solid gray;
	border-width:0px 0px;
	padding: 1px 6px 1px 20px;
	margin: 0px 0px 3px 4px;
}
.carousel.mod_flexicontent_wrapper .fcitem_readon:hover {
	background: url("images/readmore.png") lightgray no-repeat scroll 0px 1px;
	border: solid gray;
	border-width:1px 0px;
	padding: 0px 6px 0px 20px;
	margin: 0px 0px 3px 4px;
}

/* item read more styling (link, etc) */
.carousel.mod_flexicontent_wrapper .fcitem_readon a.readon,
.carousel.mod_flexicontent_wrapper .fcitem_readon a.readon span {
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	padding: 0px;
	background:none;
	text-decoration: none!important;
	color: darkred;
	cursor:pointer;
}
.carousel.mod_flexicontent_wrapper .fcitem_readon:hover a.readon,
.carousel.mod_flexicontent_wrapper .fcitem_readon:hover a.readon span {
	padding: 0px;
	background:none;
	text-decoration: none!important;
	color: darkred;
}


/*********************/
/* CAROUSEL SPECIFIC */
/*********************/

/* CURRENTLY active item data */
.carousel.mod_flexicontent_wrapper .mod_fc_activeitem_info {
	float:left;
	display:block;
	padding: 4px 2% 0px 2%;
	margin: 6px 6px 0px 6px;
}


/* ITEM handles (image/text ITEM buttons for direct navigation) */
.carousel.mod_flexicontent_wrapper .mod_fc_handles {
	position:relative;
	display:block;
	float:left;
	clear:both;
	border-width: 0px;
	padding:0;
	margin: 6px 0px 0px 20px;
}
.carousel.mod_flexicontent_wrapper .mod_fc_handles span {
	float:left;
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0px 0px 0px 3px;
	padding:0em 0em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
}
.carousel.mod_flexicontent_wrapper .mod_fc_handles span:hover {
	background:#bbb;
	position:relative;
	z-index:102;
}
.carousel.mod_flexicontent_wrapper .mod_fc_handles span:hover img {
	opacity:0.4;
	filter:alpha(opacity=40);
}
.carousel.mod_flexicontent_wrapper .mod_fc_handles span.active {
	color:darkred;
}


/* CONTROL buttons: stop,previous,next,play forward,play backend */
.mod_fc_carousel_buttons {
	float:left;
	display:block;
	margin: 2px 6px 0px 24px;
}
.mod_fc_carousel_buttons span.mod_fc_carousel_btn {
	float:left;
	display: block;
	padding: 2px 2px 0px 18px;
	margin-right: 4px;
	border: 1px solid lightgray;
	background-color: #eeeeee !important;
	border-radius: 8px;
	height: 24px;
}
.mod_fc_carousel_buttons span.mod_fc_carousel_btn:hover {
	background-color: #dddddd !important;
}

.mod_fc_carousel_btn.fc_stop {
	background: url(images/control-pause.png) no-repeat 2px 5px;
}
.mod_fc_carousel_btn.fc_previous {
	background: url(images/control-180.png) no-repeat 2px 5px;
}
.mod_fc_carousel_btn.fc_next {
	background: url(images/control.png) no-repeat 2px 5px;
}
.mod_fc_carousel_btn.fc_backward {
	background: url(images/control-double-180.png) no-repeat 2px 5px;
}
.mod_fc_carousel_btn.fc_forward {
	background: url(images/control-double.png) no-repeat 2px 5px;
}

/* Outer mask to clip overflown content */
.mod_fc_carousel_mask {
	display: none;
	position: relative !important;
	overflow: hidden !important;
	margin: 0 1% !important;
	padding: 0 !important;
	width: 98% !important;
	height: auto !important;
}

.mod_fc_carousel_mask.fc_has_nav {
	margin: 0px 28px 0px 28px !important;
	width: auto !important;
}


/* Customize clear box */
.carousel.mod_flexicontent_wrapper .modclear {
	height: 0px !important;
	border-bottom: 1px dashed gray;
	padding: 0px 0px 12px 0px;
	margin: 0px 1% 12px 1%;
	width: 98%;
}
