/* (C) 2007 YOOtheme.com */

/* login */
span.quick span.yoo-login span.login {
	height: 20px;
	float: right;
}

span.quick span.yoo-login span.login span.username, 
span.quick span.yoo-login span.login span.password,
span.quick span.yoo-login span.login span.login-button-text,
span.quick span.yoo-login span.login span.login-button-icon,
span.quick span.yoo-login span.login span.lostpassword, 
span.quick span.yoo-login span.login span.lostusername,
span.quick span.yoo-login span.login span.registration,
span.quick span.yoo-login span.logout span.greeting,
span.quick span.yoo-login span.logout span.logout-button-text,
span.quick span.yoo-login span.logout span.logout-button-icon {
	margin-right: 5px;
	float: left;
	overflow: hidden;
}

span.quick span.yoo-login span.login span.username,
span.quick span.yoo-login span.login span.password {
	width: 73px;
	height: 16px;
	padding: 4px 2px 0px 25px;
	float: left;
	overflow: hidden;
}

span.quick span.yoo-login span.login span.username {
	background: url(styles/quick/images/username_bg.png) 0 0 no-repeat;
}

span.quick span.yoo-login span.login span.password {
	background: url(styles/quick/images/password_bg.png) 0 0 no-repeat;
}

span.quick span.yoo-login span.login span.username:hover {
	background: url(styles/quick/images/username_bg.png) 0 -20px no-repeat;
}

span.quick span.yoo-login span.login span.password:hover {
	background: url(styles/quick/images/password_bg.png) 0 -20px no-repeat;
}

span.quick span.yoo-login span.login span.username input,
span.quick span.yoo-login span.login span.password input {
	padding: 0px;
	width: 100%;
	background: none;
	border: none;
	outline: none;
	float: left;
	color: #646464;
	font-size: 11px;
}

span.quick span.yoo-login span.login span.username input:hover,
span.quick span.yoo-login span.login span.password input:hover,
span.quick span.yoo-login span.login span.username input:focus,
span.quick span.yoo-login span.login span.password input:focus {
	color: #000000;
}

span.quick span.yoo-login span.login .login-button-text button {
	cursor: pointer;
}


span.quick span.yoo-login span.login span.login-button-icon {
	width: 21px;
	height: 20px;
	background: url(styles/quick/images/login_button_bg.png) 0 0 no-repeat; /* ie6png:crop */
}

span.quick span.yoo-login span.login span.login-button-icon:hover {
	background: url(styles/quick/images/login_button_bg.png) 0 -20px no-repeat;
}

span.quick span.yoo-login span.login span.login-button-icon button {
	display: block;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 20px;
	border: none;
	background: none;
	cursor: pointer;
	overflow: hidden;
}

span.quick span.yoo-login span.login span.login-button button:hover {
	color: #000000;
}

span.quick span.yoo-login span.login span.lostpassword,
span.quick span.yoo-login span.login span.lostusername,
span.quick span.yoo-login span.login span.registration {
	width: 25px;
}

span.quick span.yoo-login span.login span.lostpassword {
	background: url(styles/quick/images/lost_password_bg.png) 0 0px no-repeat; /* ie6png:crop */
}

span.quick span.yoo-login span.login span.lostusername {
	background: url(styles/quick/images/lost_username_bg.png) 0 0px no-repeat; /* ie6png:crop */
}

span.quick span.yoo-login span.login span.registration {
	background: url(styles/quick/images/registration_bg.png) 0 0px no-repeat; /* ie6png:crop */
}

span.quick span.yoo-login span.login span.lostpassword a,
span.quick span.yoo-login span.login span.lostusername a,
span.quick span.yoo-login span.login span.registration a {
	display: block;
	width: 100%;
	height: 20px;
}

/* logout */
span.quick span.yoo-login span.logout {
	height: 20px;
	float: right;
}

span.quick span.yoo-login span.logout span.greeting {
	line-height: 20px;
}

span.quick span.yoo-login span.logout span.logout-button-text button {
	cursor: pointer;
}

span.quick span.yoo-login span.logout span.logout-button-icon {
	width: 21px;
	height: 20px;
	background: url(styles/quick/images/logout_button_bg.png) 0 0 no-repeat; /* ie6png:crop */
}

span.quick span.yoo-login span.logout span.logout-button-icon:hover {
	background: url(styles/quick/images/logout_button_bg.png) 0 -20px no-repeat;
}

span.quick span.yoo-login span.logout span.logout-button-icon button {
	display: block;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 20px;
	border: none;
	background: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 11px;
	color: #646464;
	text-transform: lowercase;
}

span.quick span.yoo-login span.logout span.logout-button-icon button:hover {
	color: #000000;
}
